# 1 .) To write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [1]:
#Impoting required libraries for Web Scraping

from bs4 import BeautifulSoup
import requests
import html5lib
import html.parser

In [2]:
#Selecting page url
#Getting requests

url="https://en.wikipedia.org/wiki/Main_Page"
r=requests.get(url)

soup=BeautifulSoup(r.content)

In [3]:
#Let's extraxt the header tags

header = ['h1' , 'h2' , 'h3' , 'h4' , 'h5' , 'h6']
titles = soup.find_all(header)

print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading" id="firstHeading">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-variants-label">
<span>Variants</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span>Views</span>
</h3>

<h3 class="vector-menu-heading" id="p-cactions-label">
<span>More</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span>Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span>Languages</span>
</h3>

# 2) To Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [6]:
imdb_url = "https://www.imdb.com/list/ls091520106/"
page = requests.get(imdb_url)
soup = BeautifulSoup(page.content)

In [8]:
#Extracting Html Tags where we have movie title

movie_title = soup.find_all('h3', class_="lister-item-header")
movie_title

[<h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">1.</span>
 <a href="/title/tt0111161/">The Shawshank Redemption</a>
 <span class="lister-item-year text-muted unbold">(1994)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">2.</span>
 <a href="/title/tt0068646/">The Godfather</a>
 <span class="lister-item-year text-muted unbold">(1972)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">3.</span>
 <a href="/title/tt0071562/">The Godfather: Part II</a>
 <span class="lister-item-year text-muted unbold">(1974)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">4.</span>
 <a href="/title/tt0468569/">The Dark Knight</a>
 <span class="lister-item-year text-muted unbold">(2008)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">5.</span>
 <a href="/title/tt0050083/">12 Angry Men</a>
 <span class="lister-item-year text-muted unbold">(1957)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">6.</span>
 <a href="/title/tt0108052/">Schindler's List</a>
 <span class="lister-item-year text-muted unbold">(1993)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">7.</span>
 <a href="/title/tt0167260/">The Lord of the Rings: The Return of the King</a>
 <span class="lister-item-year text-muted unbold">(2003)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">8.</span>
 <a href="/title/tt0110912/">Pulp Fiction</a>
 <span class="lister-item-year text-muted unbold">(1994)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">9.</span>
 <a href="/title/tt0060196/">Il buono, il brutto, il cattivo</a>
 <span class="lister-item-year text-muted unbold">(1966)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">10.</span>
 <a href="/title/tt0137523/">Fight Club</a>
 <span class="lister-item-year text-muted unbold">(1999)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">11.</span>
 <a href="/title/tt7286456/">Joker</a>
 <span class="lister-item-year text-muted unbold">(2019)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">12.</span>
 <a href="/title/tt0120737/">The Lord of the Rings: The Fellowship of the Ring</a>
 <span class="lister-item-year text-muted unbold">(2001)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">13.</span>
 <a href="/title/tt0109830/">Forrest Gump</a>
 <span class="lister-item-year text-muted unbold">(1994)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">14.</span>
 <a href="/title/tt1375666/">Inception</a>
 <span class="lister-item-year text-muted unbold">(2010)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">15.</span>
 <a href="/title/tt0080684/">Star Wars: Episode V - The Empire Strikes Back</a>
 <span class="lister-item-year text-muted unbold">(1980)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">16.</span>
 <a href="/title/tt0167261/">The Lord of the Rings: The Two Towers</a>
 <span class="lister-item-year text-muted unbold">(2002)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">17.</span>
 <a href="/title/tt0133093/">The Matrix</a>
 <span class="lister-item-year text-muted unbold">(1999)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">18.</span>
 <a href="/title/tt0073486/">One Flew Over the Cuckoo's Nest</a>
 <span class="lister-item-year text-muted unbold">(1975)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">19.</span>
 <a href="/title/tt0099685/">Goodfellas</a>
 <span class="lister-item-year text-muted unbold">(1990)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">20.</span>
 <a href="/title/tt0047478/">Shichinin no samurai</a>
 <span class="lister-item-year text-muted unbold">(1954)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">21.</span>
 <a href="/title/tt0114369/">Se7en</a>
 <span class="lister-item-year text-muted unbold">(1995)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">22.</span>
 <a href="/title/tt0317248/">Cidade de Deus</a>
 <span class="lister-item-year text-muted unbold">(2002)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">23.</span>
 <a href="/title/tt0118799/">La vita è bella</a>
 <span class="lister-item-year text-muted unbold">(1997)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">24.</span>
 <a href="/title/tt0102926/">The Silence of the Lambs</a>
 <span class="lister-item-year text-muted unbold">(1991)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">25.</span>
 <a href="/title/tt0076759/">Star Wars</a>
 <span class="lister-item-year text-muted unbold">(1977)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">26.</span>
 <a href="/title/tt0038650/">It's a Wonderful Life</a>
 <span class="lister-item-year text-muted unbold">(1946)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">27.</span>
 <a href="/title/tt0120815/">Saving Private Ryan</a>
 <span class="lister-item-year text-muted unbold">(1998)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">28.</span>
 <a href="/title/tt0245429/">Sen to Chihiro no kamikakushi</a>
 <span class="lister-item-year text-muted unbold">(2001)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">29.</span>
 <a href="/title/tt0120689/">The Green Mile</a>
 <span class="lister-item-year text-muted unbold">(1999)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">30.</span>
 <a href="/title/tt0110413/">Léon</a>
 <span class="lister-item-year text-muted unbold">(1994)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">31.</span>
 <a href="/title/tt0056058/">Seppuku</a>
 <span class="lister-item-year text-muted unbold">(1962)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">32.</span>
 <a href="/title/tt0816692/">Interstellar</a>
 <span class="lister-item-year text-muted unbold">(2014)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">33.</span>
 <a href="/title/tt0114814/">The Usual Suspects</a>
 <span class="lister-item-year text-muted unbold">(1995)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">34.</span>
 <a href="/title/tt0110357/">The Lion King</a>
 <span class="lister-item-year text-muted unbold">(1994)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">35.</span>
 <a href="/title/tt0120586/">American History X</a>
 <span class="lister-item-year text-muted unbold">(1998)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">36.</span>
 <a href="/title/tt0088763/">Back to the Future</a>
 <span class="lister-item-year text-muted unbold">(1985)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">37.</span>
 <a href="/title/tt0253474/">The Pianist</a>
 <span class="lister-item-year text-muted unbold">(2002)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">38.</span>
 <a href="/title/tt0027977/">Modern Times</a>
 <span class="lister-item-year text-muted unbold">(1936)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">39.</span>
 <a href="/title/tt0103064/">Terminator 2: Judgment Day</a>
 <span class="lister-item-year text-muted unbold">(1991)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">40.</span>
 <a href="/title/tt1675434/">The Intouchables</a>
 <span class="lister-item-year text-muted unbold">(2011)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">41.</span>
 <a href="/title/tt0054215/">Psycho</a>
 <span class="lister-item-year text-muted unbold">(1960)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">42.</span>
 <a href="/title/tt0172495/">Gladiator</a>
 <span class="lister-item-year text-muted unbold">(2000)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">43.</span>
 <a href="/title/tt0021749/">City Lights</a>
 <span class="lister-item-year text-muted unbold">(1931)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">44.</span>
 <a href="/title/tt0407887/">The Departed</a>
 <span class="lister-item-year text-muted unbold">(2006)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">45.</span>
 <a href="/title/tt2582802/">Whiplash</a>
 <span class="lister-item-year text-muted unbold">(2014)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">46.</span>
 <a href="/title/tt0064116/">Once Upon a Time in the West</a>
 <span class="lister-item-year text-muted unbold">(1968)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">47.</span>
 <a href="/title/tt0482571/">The Prestige</a>
 <span class="lister-item-year text-muted unbold">(2006)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">48.</span>
 <a href="/title/tt4154796/">Avengers: Endgame</a>
 <span class="lister-item-year text-muted unbold">(2019)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">49.</span>
 <a href="/title/tt0034583/">Casablanca</a>
 <span class="lister-item-year text-muted unbold">(1942)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">50.</span>
 <a href="/title/tt0095327/">Hotaru no haka</a>
 <span class="lister-item-year text-muted unbold">(1988)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">51.</span>
 <a href="/title/tt0047396/">Rear Window</a>
 <span class="lister-item-year text-muted unbold">(1954)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">52.</span>
 <a href="/title/tt0095765/">Nuovo Cinema Paradiso</a>
 <span class="lister-item-year text-muted unbold">(1988)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">53.</span>
 <a href="/title/tt0078748/">Alien</a>
 <span class="lister-item-year text-muted unbold">(1979)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">54.</span>
 <a href="/title/tt0082971/">Raiders of the Lost Ark</a>
 <span class="lister-item-year text-muted unbold">(1981)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">55.</span>
 <a href="/title/tt0209144/">Memento</a>
 <span class="lister-item-year text-muted unbold">(2000)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">56.</span>
 <a href="/title/tt0078788/">Apocalypse Now</a>
 <span class="lister-item-year text-muted unbold">(1979)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">57.</span>
 <a href="/title/tt0032553/">The Great Dictator</a>
 <span class="lister-item-year text-muted unbold">(1940)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">58.</span>
 <a href="/title/tt0405094/">The Lives of Others</a>
 <span class="lister-item-year text-muted unbold">(2006)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">59.</span>
 <a href="/title/tt4154756/">Avengers: Infinity War</a>
 <span class="lister-item-year text-muted unbold">(2018)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">60.</span>
 <a href="/title/tt1853728/">Django Unchained</a>
 <span class="lister-item-year text-muted unbold">(2012)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">61.</span>
 <a href="/title/tt4633694/">Spider-Man: Into the Spider-Verse</a>
 <span class="lister-item-year text-muted unbold">(2018)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">62.</span>
 <a href="/title/tt0081505/">The Shining</a>
 <span class="lister-item-year text-muted unbold">(1980)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">63.</span>
 <a href="/title/tt0050825/">Paths of Glory</a>
 <span class="lister-item-year text-muted unbold">(1957)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">64.</span>
 <a href="/title/tt0910970/">WALL·E</a>
 <span class="lister-item-year text-muted unbold">(2008)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">65.</span>
 <a href="/title/tt0043014/">Sunset Blvd.</a>
 <span class="lister-item-year text-muted unbold">(1950)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">66.</span>
 <a href="/title/tt0057012/">Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb</a>
 <span class="lister-item-year text-muted unbold">(1964)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">67.</span>
 <a href="/title/tt0119698/">Mononoke-hime</a>
 <span class="lister-item-year text-muted unbold">(1997)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">68.</span>
 <a href="/title/tt0364569/">Oldeuboi</a>
 <span class="lister-item-year text-muted unbold">(2003)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">69.</span>
 <a href="/title/tt0051201/">Witness for the Prosecution</a>
 <span class="lister-item-year text-muted unbold">(1957)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">70.</span>
 <a href="/title/tt1345836/">The Dark Knight Rises</a>
 <span class="lister-item-year text-muted unbold">(2012)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">71.</span>
 <a href="/title/tt0087843/">Once Upon a Time in America</a>
 <span class="lister-item-year text-muted unbold">(1984)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">72.</span>
 <a href="/title/tt6751668/">Gisaengchung</a>
 <span class="lister-item-year text-muted unbold">(2019)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">73.</span>
 <a href="/title/tt0090605/">Aliens</a>
 <span class="lister-item-year text-muted unbold">(1986)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">74.</span>
 <a href="/title/tt0169547/">American Beauty</a>
 <span class="lister-item-year text-muted unbold">(1999)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">75.</span>
 <a href="/title/tt2380307/">Coco</a>
 <span class="lister-item-year text-muted unbold">(I) (2017)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">76.</span>
 <a href="/title/tt5311514/">Kimi no na wa.</a>
 <span class="lister-item-year text-muted unbold">(2016)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">77.</span>
 <a href="/title/tt0112573/">Braveheart</a>
 <span class="lister-item-year text-muted unbold">(1995)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">78.</span>
 <a href="/title/tt0082096/">Das Boot</a>
 <span class="lister-item-year text-muted unbold">(1981)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">79.</span>
 <a href="/title/tt1187043/">3 Idiots</a>
 <span class="lister-item-year text-muted unbold">(2009)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">80.</span>
 <a href="/title/tt0986264/">Taare Zameen Par</a>
 <span class="lister-item-year text-muted unbold">(2007)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">81.</span>
 <a href="/title/tt0086190/">Star Wars: Episode VI - Return of the Jedi</a>
 <span class="lister-item-year text-muted unbold">(1983)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">82.</span>
 <a href="/title/tt0114709/">Toy Story</a>
 <span class="lister-item-year text-muted unbold">(1995)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">83.</span>
 <a href="/title/tt0105236/">Reservoir Dogs</a>
 <span class="lister-item-year text-muted unbold">(1992)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">84.</span>
 <a href="/title/tt0086879/">Amadeus</a>
 <span class="lister-item-year text-muted unbold">(1984)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">85.</span>
 <a href="/title/tt5074352/">Dangal</a>
 <span class="lister-item-year text-muted unbold">(2016)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">86.</span>
 <a href="/title/tt0119217/">Good Will Hunting</a>
 <span class="lister-item-year text-muted unbold">(1997)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">87.</span>
 <a href="/title/tt0361748/">Inglourious Basterds</a>
 <span class="lister-item-year text-muted unbold">(2009)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">88.</span>
 <a href="/title/tt0022100/">M - Eine Stadt sucht einen Mörder</a>
 <span class="lister-item-year text-muted unbold">(1931)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">89.</span>
 <a href="/title/tt0180093/">Requiem for a Dream</a>
 <span class="lister-item-year text-muted unbold">(2000)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">90.</span>
 <a href="/title/tt0062622/">2001: A Space Odyssey</a>
 <span class="lister-item-year text-muted unbold">(1968)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">91.</span>
 <a href="/title/tt0052357/">Vertigo</a>

In [9]:
#Creating an empty list

movie_titles = []

#Applying for loop

for i in movie_title:
    movie_titles.append(i.text.replace("\n",""))
movie_titles

['1.The Shawshank Redemption(1994)',
 '2.The Godfather(1972)',
 '3.The Godfather: Part II(1974)',
 '4.The Dark Knight(2008)',
 '5.12 Angry Men(1957)',
 "6.Schindler's List(1993)",
 '7.The Lord of the Rings: The Return of the King(2003)',
 '8.Pulp Fiction(1994)',
 '9.Il buono, il brutto, il cattivo(1966)',
 '10.Fight Club(1999)',
 '11.Joker(2019)',
 '12.The Lord of the Rings: The Fellowship of the Ring(2001)',
 '13.Forrest Gump(1994)',
 '14.Inception(2010)',
 '15.Star Wars: Episode V - The Empire Strikes Back(1980)',
 '16.The Lord of the Rings: The Two Towers(2002)',
 '17.The Matrix(1999)',
 "18.One Flew Over the Cuckoo's Nest(1975)",
 '19.Goodfellas(1990)',
 '20.Shichinin no samurai(1954)',
 '21.Se7en(1995)',
 '22.Cidade de Deus(2002)',
 '23.La vita è bella(1997)',
 '24.The Silence of the Lambs(1991)',
 '25.Star Wars(1977)',
 "26.It's a Wonderful Life(1946)",
 '27.Saving Private Ryan(1998)',
 '28.Sen to Chihiro no kamikakushi(2001)',
 '29.The Green Mile(1999)',
 '30.Léon(1994)',
 '31.Seppuku(1962)',
 '32.Interstellar(2014)',
 '33.The Usual Suspects(1995)',
 '34.The Lion King(1994)',
 '35.American History X(1998)',
 '36.Back to the Future(1985)',
 '37.The Pianist(2002)',
 '38.Modern Times(1936)',
 '39.Terminator 2: Judgment Day(1991)',
 '40.The Intouchables(2011)',
 '41.Psycho(1960)',
 '42.Gladiator(2000)',
 '43.City Lights(1931)',
 '44.The Departed(2006)',
 '45.Whiplash(2014)',
 '46.Once Upon a Time in the West(1968)',
 '47.The Prestige(2006)',
 '48.Avengers: Endgame(2019)',
 '49.Casablanca(1942)',
 '50.Hotaru no haka(1988)',
 '51.Rear Window(1954)',
 '52.Nuovo Cinema Paradiso(1988)',
 '53.Alien(1979)',
 '54.Raiders of the Lost Ark(1981)',
 '55.Memento(2000)',
 '56.Apocalypse Now(1979)',
 '57.The Great Dictator(1940)',
 '58.The Lives of Others(2006)',
 '59.Avengers: Infinity War(2018)',
 '60.Django Unchained(2012)',
 '61.Spider-Man: Into the Spider-Verse(2018)',
 '62.The Shining(1980)',
 '63.Paths of Glory(1957)',
 '64.WALL·E(2008)',
 '65.Sunset Blvd.(1950)',
 '66.Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb(1964)',
 '67.Mononoke-hime(1997)',
 '68.Oldeuboi(2003)',
 '69.Witness for the Prosecution(1957)',
 '70.The Dark Knight Rises(2012)',
 '71.Once Upon a Time in America(1984)',
 '72.Gisaengchung(2019)',
 '73.Aliens(1986)',
 '74.American Beauty(1999)',
 '75.Coco(I) (2017)',
 '76.Kimi no na wa.(2016)',
 '77.Braveheart(1995)',
 '78.Das Boot(1981)',
 '79.3 Idiots(2009)',
 '80.Taare Zameen Par(2007)',
 '81.Star Wars: Episode VI - Return of the Jedi(1983)',
 '82.Toy Story(1995)',
 '83.Reservoir Dogs(1992)',
 '84.Amadeus(1984)',
 '85.Dangal(2016)',
 '86.Good Will Hunting(1997)',
 '87.Inglourious Basterds(2009)',
 '88.M - Eine Stadt sucht einen Mörder(1931)',
 '89.Requiem for a Dream(2000)',
 '90.2001: A Space Odyssey(1968)',
 '91.Vertigo(1958)',
 '92.Eternal Sunshine of the Spotless Mind(2004)',
 '93.Citizen Kane(1941)',
 '94.Full Metal Jacket(1987)',
 '95.Jagten(2012)',
 '96.North by Northwest(1959)',
 '97.A Clockwork Orange(1971)',
 '98.Snatch(2000)',
 "99.Le fabuleux destin d'Amélie Poulain(2001)",
 '100.The Kid(1921)']

In [10]:
#Similarly for Rating

rating = soup.find_all('div' , class_="ipl-rating-star small")

movie_rating = []
for i in rating:
    movie_rating.append(i.text.replace("\n",""))
movie_rating

['9.3',
 '9.2',
 '9',
 '9',
 '9',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.4',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.6',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3']

In [11]:
print (len(movie_titles) , len(movie_rating)) #Checking length

100 100

In [12]:
#Creating_Data_Frame

import pandas as pd
movie = pd.DataFrame({})
movie['Name and Year']=movie_titles
movie['ratings']=movie_rating
movie

                                   Name and Year ratings
0               1.The Shawshank Redemption(1994)     9.3
1                          2.The Godfather(1972)     9.2
2                 3.The Godfather: Part II(1974)       9
3                        4.The Dark Knight(2008)       9
4                           5.12 Angry Men(1957)       9
..                                           ...     ...
95                   96.North by Northwest(1959)     8.3
96                   97.A Clockwork Orange(1971)     8.3
97                               98.Snatch(2000)     8.3
98  99.Le fabuleux destin d'Amélie Poulain(2001)     8.3
99                             100.The Kid(1921)     8.3

[100 rows x 2 columns]

# 3.) To write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame

In [11]:
#Extracting top 100 Bollywood movies data
imdb_url = "https://www.imdb.com/list/ls009997493/"
page = requests.get(imdb_url)
soup = BeautifulSoup(page.content)

In [12]:
movie_title = soup.find_all('h3', class_="lister-item-header")

#Creating an empty list

movie_titles = []
for i in movie_title:
    movie_titles.append(i.text.replace("\n",""))
movie_titles

['1.Rang De Basanti(2006)',
 '2.3 Idiots(2009)',
 '3.Taare Zameen Par(2007)',
 '4.Dil Chahta Hai(2001)',
 '5.Swades: We, the People(2004)',
 '6.Lagaan: Once Upon a Time in India(2001)',
 '7.Gangs of Wasseypur(2012)',
 '8.Barfi!(2012)',
 '9.Anand(1971)',
 '10.Munna Bhai M.B.B.S.(2003)',
 '11.A Wednesday(2008)',
 '12.Andaz Apna Apna(1994)',
 '13.Sholay(1975)',
 '14.Bhaag Milkha Bhaag(2013)',
 '15.Hera Pheri(2000)',
 '16.Udaan(2010)',
 '17.Kahaani(2012)',
 '18.Black(2005)',
 '19.Chak De! India(2007)',
 '20.Khosla Ka Ghosla!(2006)',
 '21.Jo Jeeta Wohi Sikandar(1992)',
 '22.Zindagi Na Milegi Dobara(2011)',
 '23.Paan Singh Tomar(2012)',
 '24.Dilwale Dulhania Le Jayenge(1995)',
 '25.Omkara(2006)',
 '26.Lage Raho Munna Bhai(2006)',
 '27.Iqbal(2005)',
 '28.The Lunchbox(2013)',
 '29.Black Friday(2004)',
 '30.Company(2002)',
 '31.Golmaal(1979)',
 '32.Dev.D(2009)',
 '33.Jaane Bhi Do Yaaro(1983)',
 '34.OMG: Oh My God!(2012)',
 '35.Mughal-E-Azam(1960)',
 '36.Gulaal(2009)',
 '37.Dor(2006)',
 '38.Jab We Met(2007)',
 '39.Pyaasa(1957)',
 '40.The Legend of Bhagat Singh(2002)',
 '41.Masoom(1983)',
 '42.Salaam Bombay!(1988)',
 '43.Satya(1998)',
 '44.Vicky Donor(2012)',
 '45.Lakshya(2004)',
 '46.Vaastav: The Reality(1999)',
 '47.Kal Ho Naa Ho(2003)',
 '48.Oye Lucky! Lucky Oye!(2008)',
 '49.Sarfarosh(1999)',
 '50.Gangaajal(2003)',
 '51.Angoor(1982)',
 '52.Madras Cafe(2013)',
 '53.English Vinglish(2012)',
 '54.Chupke Chupke(1975)',
 '55.Johnny Gaddaar(2007)',
 '56.Maqbool(2003)',
 '57.Hazaaron Khwaishein Aisi(2003)',
 '58.Rock On!!(2008)',
 '59.Don(1978)',
 '60.Chhoti Si Baat(1976)',
 '61.Guide(1965)',
 '62.Raanjhanaa(2013)',
 '63.Deewaar(1975)',
 '64.Special Chabbis(2013)',
 '65.Padosan(1968)',
 '66.Mumbai Meri Jaan(2008)',
 '67.Ab Tak Chhappan(2004)',
 '68.Kai po che!(2013)',
 '69.Awaara(1951)',
 '70.Shree 420(1955)',
 '71.Earth(1998)',
 '72.Gunda(1998)',
 '73.Parinda(1989)',
 '74.Dasvidaniya(2008)',
 '75.Hey Ram(2000)',
 '76.Pinjar: Beyond Boundaries...(2003)',
 '77.Socha Na Tha(2005)',
 '78.Guru(2007)',
 '79.Bawarchi(1972)',
 '80.Manorama: Six Feet Under(2007)',
 '81.Mr. India(1987)',
 '82.Aamir(2008)',
 '83.Zakhm(1998)',
 '84.Water(I) (2005)',
 '85.Stanley Ka Dabba(2011)',
 '86.Agneepath(1990)',
 '87.My Name Is Khan(2010)',
 '88.Qayamat Se Qayamat Tak(1988)',
 '89.3 Deewarein(2003)',
 '90.Abhimaan(1973)',
 '91.Sarkar(2005)',
 '92.Bheja Fry(2007)',
 '93.Mother India(1957)',
 '94.Jaane Tu... Ya Jaane Na(2008)',
 '95.Delhi Belly(2011)',
 '96.Wake Up Sid(2009)',
 '97.Rangeela(1995)',
 '98.Shatranj Ke Khilari(1977)',
 '99.Pyaar Ka Punchnama(2011)',
 '100.Ek Hasina Thi(2004)']

In [13]:
rating = soup.find_all('div' , class_="ipl-rating-star small")

movie_rating = []
for i in rating:
    movie_rating.append(i.text.replace("\n",""))
movie_rating

['8.1',
 '8.4',
 '8.4',
 '8.1',
 '8.2',
 '8.1',
 '8.2',
 '8.1',
 '8.3',
 '8.1',
 '8.1',
 '8.1',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.2',
 '8.2',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8',
 '8.1',
 '7.8',
 '8.5',
 '7.9',
 '8.5',
 '8',
 '8.4',
 '8.1',
 '8.2',
 '8.1',
 '7.9',
 '7.9',
 '8.4',
 '8.1',
 '8.4',
 '8',
 '8.2',
 '7.8',
 '7.9',
 '8',
 '7.9',
 '7.7',
 '8.1',
 '7.8',
 '8.3',
 '7.7',
 '7.8',
 '8.3',
 '7.8',
 '8.1',
 '7.9',
 '7.7',
 '7.8',
 '8.3',
 '8.4',
 '7.6',
 '8.1',
 '8',
 '8.1',
 '7.7',
 '7.8',
 '7.8',
 '7.9',
 '8',
 '7.7',
 '7.3',
 '7.8',
 '7.8',
 '7.9',
 '8',
 '7.4',
 '7.7',
 '8',
 '7.6',
 '7.8',
 '7.7',
 '7.9',
 '7.7',
 '7.8',
 '7.7',
 '8',
 '7.5',
 '7.8',
 '7.9',
 '7.6',
 '7.6',
 '8',
 '7.5',
 '7.6',
 '7.6',
 '7.5',
 '7.6',
 '7.6',
 '7.5']

In [14]:
#Creating_Data_Frame

import pandas as pd
movie = pd.DataFrame({})
movie['Name and Year']=movie_titles
movie['ratings']=movie_rating
movie

                     Name and Year ratings
0          1.Rang De Basanti(2006)     8.1
1                 2.3 Idiots(2009)     8.4
2         3.Taare Zameen Par(2007)     8.4
3           4.Dil Chahta Hai(2001)     8.1
4   5.Swades: We, the People(2004)     8.2
..                             ...     ...
95            96.Wake Up Sid(2009)     7.6
96               97.Rangeela(1995)     7.5
97    98.Shatranj Ke Khilari(1977)     7.6
98     99.Pyaar Ka Punchnama(2011)     7.6
99         100.Ek Hasina Thi(2004)     7.5

[100 rows x 2 columns]

# 4.) Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com

In [15]:
book_url = "https://bookpage.com/reviews?book_genre=fiction&page=1"
page = requests.get(book_url)
soup = BeautifulSoup(page.content)

In [16]:
book_name = soup.find_all('h4', class_="italic")

#Extracting book titles

book_titles = []
for i in book_name:
    book_titles.append(i.text.replace("\n",""))
book_titles

['Filthy Animals',
 'The Rose Code',
 ' ★ The Sweetness of Water',
 'The Killing Hills',
 'Love and Fury',
 'The Missing Treasures of Amy Ashton',
 'Everyone Knows Your Mother Is a Witch',
 ' ★ The Hidden Palace',
 'One Two Three',
 ' ★ Walking on Cowrie Shells']

In [17]:
#Extracting author name

author = soup.find_all('p' , class_="sans bold")
author_name=[]
for i in author:
    author_name.append(i.text.replace("\n",''))
author_name

['Brandon Taylor',
 'Kate Quinn, Saskia Maarleveld',
 'Nathan Harris',
 'Chris Offutt',
 'Samantha Silva',
 'Eleanor Ray',
 'Rivka Galchen',
 'Helene Wecker',
 'Laurie Frankel',
 'Nana Nkweti']

In [18]:
#Extracting_Genre

genre_=soup.find_all('p',class_='genre-links hidden-phone')
genre=[]
for i in genre_:
    genre.append(i.text.replace("\n",''))
genre

['Fiction / Short Stories',
 'Audio / Fiction / Historical Fiction',
 'Fiction / Historical Fiction',
 'Fiction / Crime Fiction',
 'Fiction / Historical Fiction',
 'Fiction / Popular Fiction',
 'Fiction / Historical Fiction',
 'Fiction / Literary Fiction',
 'Fiction / Literary Fiction',
 'Fiction / Short Stories']

In [19]:
#Similarly Extracting reviews 

review = soup.find_all('p' , class_='excerpt')
reviews=[]
for i in review:
    reviews.append(i.text.replace("\n",""))
print(reviews)

['In Brandon Taylor’s short story collection, sexual tension acts like an undertow, lurking to pull its victims down below.', 'The Rose Code is a terrific story, brilliantly performed by Saskia Maarleveld. Or as Osla would say, it’s a real corker!', 'Nathan Harris’ Civil War-set debut novel celebrates all manner of relationships that combat hate.', 'A rural noir with attitude to spare, The Killing Hills moves as briskly as a well-constructed miniseries.', 'Samantha Silva’s attention to period detail creates a worthy elegy to one of the world’s most influential feminist thinkers, Mary Wollstonecraft.', 'Eleanor Ray’s debut novel about a hoarder pokes gentle fun at the absurdities and tragedies of life with quintessential British humor.', 'Rivka Galchen brings a surprising sense of humor to the grim topic of 17th-century witchcraft accusations.', 'Fans have waited eight years for this sequel, a minor eternity perfectly in keeping with the precarious immortality of Helene Wecker’s hopeful monsters.', 'It’s rare when a book is decidedly grim—dire, even—yet still manages to be as full of comfort, humor and hope as One Two Three.', 'With the ease of a master, Nana Nkweti shifts between points of view, between American and African slang, and between the straightforward and the avant-garde.']

In [20]:
#Creating DataFrame

book = pd.DataFrame({})
book['book_name']=book_titles
book['author']=author_name
book['genre']=genre
book['review']=reviews

#Picking only 5 books as per assignment question

books = book.drop(index=[5,6,7,8,9] , axis=0)
books

,book_name,author,genre,review
0,Filthy Animals,Brandon Taylor,Fiction / Short Stories,"In Brandon Taylor’s short story collection, se..."
1,The Rose Code,"Kate Quinn, Saskia Maarleveld",Audio / Fiction / Historical Fiction,"The Rose Code is a terrific story, brilliantly..."
2,★ The Sweetness of Water,Nathan Harris,Fiction / Historical Fiction,Nathan Harris’ Civil War-set debut novel celeb...
3,The Killing Hills,Chris Offutt,Fiction / Crime Fiction,"A rural noir with attitude to spare, The Killi..."
4,Love and Fury,Samantha Silva,Fiction / Historical Fiction,Samantha Silva’s attention to period detail cr...

# 5.) Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’

# i.) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [21]:
icc_men = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
r = requests.get(icc_men)
soup = BeautifulSoup(r.content)

In [22]:
rank1 = soup.find_all('td' , class_= 'rankings-block__banner--pos')
rank2 = soup.find_all('td' , class_= 'table-body__cell table-body__cell--position u-text-right')
rank = rank1 + rank2 #Combining both as Rank 1 and rest player are from different classes
rank

[<td class="rankings-block__banner--pos">1</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">2</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">3</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">4</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">5</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">6</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">7</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">8</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">9</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">10</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">11</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">12</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">13</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">14</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">15</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">16</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">17</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">18</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">19</td>,
 <td class="table-body__cell table-body__cell--position u-text-right">20</td>]

In [23]:
#Extracting Ranking

ranking = []
for i in rank:
    ranking.append(i.text.replace("\n" , ""))
ranking

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20']

In [24]:
#Similarly for teams

team1 = soup.find_all('td' , class_= "rankings-block__banner--team-name")

team2 = soup.find_all('td' , class_= "table-body__cell rankings-table__team")

teams = team1 + team2
teams

[<td class="rankings-block__banner--team-name">
 <span class="flag-30 rankings-block__banner--flag NZ"></span>
 <span class="u-hide-phablet">New Zealand</span>
 <span class="u-show-phablet">NZ</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo AUS"></span>
 <span class="u-hide-phablet">Australia</span>
 <span class="u-show-phablet">AUS</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo IND"></span>
 <span class="u-hide-phablet">India</span>
 <span class="u-show-phablet">IND</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo ENG"></span>
 <span class="u-hide-phablet">England</span>
 <span class="u-show-phablet">ENG</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SA"></span>
 <span class="u-hide-phablet">South Africa</span>
 <span class="u-show-phablet">SA</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo PAK"></span>
 <span class="u-hide-phablet">Pakistan</span>
 <span class="u-show-phablet">PAK</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo BAN"></span>
 <span class="u-hide-phablet">Bangladesh</span>
 <span class="u-show-phablet">BAN</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo WI"></span>
 <span class="u-hide-phablet">West Indies</span>
 <span class="u-show-phablet">WI</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SL"></span>
 <span class="u-hide-phablet">Sri Lanka</span>
 <span class="u-show-phablet">SL</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo AFG"></span>
 <span class="u-hide-phablet">Afghanistan</span>
 <span class="u-show-phablet">AFG</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NED"></span>
 <span class="u-hide-phablet">Netherlands</span>
 <span class="u-show-phablet">NED</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo IRE"></span>
 <span class="u-hide-phablet">Ireland</span>
 <span class="u-show-phablet">IRE</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo ZIM"></span>
 <span class="u-hide-phablet">Zimbabwe</span>
 <span class="u-show-phablet">ZIM</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo SCO"></span>
 <span class="u-hide-phablet">Scotland</span>
 <span class="u-show-phablet">SCO</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo OMA"></span>
 <span class="u-hide-phablet">Oman</span>
 <span class="u-show-phablet">OMA</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NEP"></span>
 <span class="u-hide-phablet">Nepal</span>
 <span class="u-show-phablet">NEP</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo UAE"></span>
 <span class="u-hide-phablet">UAE</span>
 <span class="u-show-phablet">UAE</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo NAM"></span>
 <span class="u-hide-phablet">Namibia</span>
 <span class="u-show-phablet">NAM</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo USA"></span>
 <span class="u-hide-phablet">United States</span>
 <span class="u-show-phablet">USA</span>
 </td>,
 <td class="table-body__cell rankings-table__team">
 <span class="flag-15 table-body_logo PNG"></span>
 <span class="u-hide-phablet">Papua New Guinea</span>
 <span class="u-show-phablet">PNG</span>
 </td>]

In [25]:
#Creating an empty list

country = []
for i in teams:
    country.append(i.text.replace("\n"," "))
country

['  New Zealand NZ ',
 '  Australia AUS ',
 '  India IND ',
 '  England ENG ',
 '  South Africa SA ',
 '  Pakistan PAK ',
 '  Bangladesh BAN ',
 '  West Indies WI ',
 '  Sri Lanka SL ',
 '  Afghanistan AFG ',
 '  Netherlands NED ',
 '  Ireland IRE ',
 '  Zimbabwe ZIM ',
 '  Scotland SCO ',
 '  Oman OMA ',
 '  Nepal NEP ',
 '  UAE UAE ',
 '  Namibia NAM ',
 '  United States USA ',
 '  Papua New Guinea PNG ']

In [26]:
#Similarly doing for 'Matches','Points' and 'Rating'
matches1 = soup.find_all('td' , class_='rankings-block__banner--matches')
matches2 = soup.find_all('td' , class_='table-body__cell u-center-text')
match = matches1 + matches2
matches = []
for i in match:
    matches.append(i.text.replace("\n","  "))
matches

['17',
 '25',
 '2,945',
 '29',
 '3,344',
 '27',
 '3,100',
 '20',
 '2,137',
 '24',
 '2,323',
 '27',
 '2,438',
 '27',
 '2,222',
 '24',
 '1,876',
 '17',
 '1,054',
 '7',
 '336',
 '21',
 '897',
 '15',
 '588',
 '7',
 '258',
 '7',
 '240',
 '5',
 '119',
 '9',
 '190',
 '6',
 '97',
 '8',
 '93',
 '5',
 '0']

In [27]:
del matches[2:38:2]

matches

['17',
 '25',
 '29',
 '27',
 '20',
 '24',
 '27',
 '27',
 '24',
 '17',
 '7',
 '21',
 '15',
 '7',
 '7',
 '5',
 '9',
 '6',
 '8',
 '5',
 '0']

In [28]:
del matches[-1]
matches

['17',
 '25',
 '29',
 '27',
 '20',
 '24',
 '27',
 '27',
 '24',
 '17',
 '7',
 '21',
 '15',
 '7',
 '7',
 '5',
 '9',
 '6',
 '8',
 '5']

In [29]:
points1 = soup.find_all('td' , class_='rankings-block__banner--points')
points2 = soup.find_all('td' , class_='table-body__cell u-center-text')
point = points1 + points2
points = []
for i in point:
    points.append(i.text.replace("\n","  "))
points

['2,054',
 '25',
 '2,945',
 '29',
 '3,344',
 '27',
 '3,100',
 '20',
 '2,137',
 '24',
 '2,323',
 '27',
 '2,438',
 '27',
 '2,222',
 '24',
 '1,876',
 '17',
 '1,054',
 '7',
 '336',
 '21',
 '897',
 '15',
 '588',
 '7',
 '258',
 '7',
 '240',
 '5',
 '119',
 '9',
 '190',
 '6',
 '97',
 '8',
 '93',
 '5',
 '0']

In [30]:
del points[1:38:2]
points

['2,054',
 '2,945',
 '3,344',
 '3,100',
 '2,137',
 '2,323',
 '2,438',
 '2,222',
 '1,876',
 '1,054',
 '336',
 '897',
 '588',
 '258',
 '240',
 '119',
 '190',
 '97',
 '93',
 '0']

In [31]:
#Ratings
rating1 = soup.find_all('td' , class_="rankings-block__banner--rating u-text-right")
rating2 = soup.find_all('td' , class_="table-body__cell u-text-right rating")
ratings = rating1 + rating2
rating = []
for i in ratings:
    rating.append(i.text.replace("\n","  "))
rating

['                              121                                  ',
 '118',
 '115',
 '115',
 '107',
 '97',
 '90',
 '82',
 '78',
 '62',
 '48',
 '43',
 '39',
 '37',
 '34',
 '24',
 '21',
 '16',
 '12',
 '0']

In [32]:
print(len(country))
print(len(rating))
print(len(matches))
print(len(points))

20
20
20
20

In [33]:
df = pd.DataFrame({})
df['Ranking'] = ranking
df['Country'] = country
df['Matches'] = matches
df['Points'] = points
df['Ratings'] = rating
df.head(10)

,Ranking,Country,Matches,Points,Ratings
0,1,New Zealand NZ,17,"2,054",121 ...
1,2,Australia AUS,25,"2,945",118
2,3,India IND,29,"3,344",115
3,4,England ENG,27,"3,100",115
4,5,South Africa SA,20,"2,137",107
5,6,Pakistan PAK,24,"2,323",97
6,7,Bangladesh BAN,27,"2,438",90
7,8,West Indies WI,27,"2,222",82
8,9,Sri Lanka SL,24,"1,876",78
9,10,Afghanistan AFG,17,"1,054",62

# ii.) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [34]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
r = requests.get(url, 'html.parser')
soup = BeautifulSoup(r.content)

In [40]:
#Fetching Player_Name

name1 = soup.find_all('div' , class_="rankings-block__banner--name-large")
name2 = soup.find_all('td' , class_="table-body__cell rankings-table__name name")
name = name1+name2

player_name = []
for i in name:
    player_name.append(i.text.replace("\n" , " "))
print(player_name)

['Babar Azam', ' Virat Kohli ', ' Rohit Sharma ', ' Ross Taylor ', ' Aaron Finch ', ' Jonny Bairstow ', ' Fakhar Zaman ', ' Francois du Plessis ', ' David Warner ', ' Shai Hope ', ' Quinton de Kock ', ' Kane Williamson ', ' Imam-ul-Haq ', ' Mushfiqur Rahim ', ' Joe Root ', ' Steve Smith ', ' Martin Guptill ', ' Shikhar Dhawan ', ' Jason Roy ', ' Paul Stirling ', ' Glenn Maxwell ', ' Rassie van der Dussen ', ' Usman Khawaja ', ' Ben Stokes ', ' Tamim Iqbal ', ' Eoin Morgan ', ' Lokesh Rahul ', ' Alex Carey ', ' David Miller ', ' Shimron Hetmyer ', ' Shakib Al Hasan ', ' Jos Buttler ', ' Tom Latham ', ' Nicholas Pooran ', ' Haris Sohail ', ' Mahmudullah ', ' Henry Nicholls ', ' Aqib Ilyas ', ' Kyle Coetzer ', ' Brendan Taylor ', ' Angelo Mathews ', ' Kusal Perera ', ' Hardik Pandya ', ' Sean Williams ', ' Kedar Jadhav ', ' Evin Lewis ', ' Rahmat Shah ', ' Danushka Gunathilaka ', ' Mohammad Hafeez ', ' Kusal Mendis ', ' Andrew Balbirnie ', ' Sikandar Raza ', ' Litton Das ', ' Imad Wasim ', ' Soumya Sarkar ', ' Marcus Stoinis ', ' Mohammad Shahzad ', ' Niroshan Dickwella ', ' Sarfaraz Ahmed ', ' Calum MacLeod ', ' Colin de Grandhomme ', ' Najibullah Zadran ', ' Marnus Labuschagne ', ' Chris Gayle ', ' Hashmatullah Shaidi ', ' Avishka Fernando ', ' Jimmy Neesham ', ' Shaun Marsh ', ' Mohammad Nabi ', ' Mitchell Marsh ', " Kevin O'Brien ", ' Peter Handscomb ', ' Shreyas Iyer ', ' Asghar Afghan ', ' Richard Berrington ', ' Muhammad Usman ', ' Colin Munro ', ' Craig Ervine ', ' Mitchell Santner ', ' William Porterfield ', ' Heinrich Klaasen ', ' Aiden Markram ', ' Andile Phehlukwayo ', ' Lahiru Thirimanne ', ' Dhananjaya de Silva ', ' Jason Holder ', ' Temba Bavuma ', ' Assad Vala ', ' Ravindra Jadeja ', ' Sabbir Rahman ', ' Mithun Ali ', ' Rishabh Pant ', ' Rashid Khan ', ' George Munsey ', ' Dinesh Chandimal ', ' Rovman Powell ', ' Tony Ura ', ' Gulbadin Naib ', ' Chris Woakes ', ' Sam Billings ']

In [41]:
#For Team

team1 = soup.find_all('div' , class_="rankings-block__banner--nationality")
team2 = soup.find_all('span' , class_="table-body__logo-text")
team = team1+team2

In [42]:
team_name = []
for i in team:
    team_name.append(i.text.replace("\n" , " "))
print(team_name)

['  PAK                     ', 'IND', 'IND', 'NZ', 'AUS', 'ENG', 'PAK', 'SA', 'AUS', 'WI', 'SA', 'NZ', 'PAK', 'BAN', 'ENG', 'AUS', 'NZ', 'IND', 'ENG', 'IRE', 'AUS', 'SA', 'AUS', 'ENG', 'BAN', 'ENG', 'IND', 'AUS', 'SA', 'WI', 'BAN', 'ENG', 'NZ', 'WI', 'PAK', 'BAN', 'NZ', 'OMA', 'SCO', 'ZIM', 'SL', 'SL', 'IND', 'ZIM', 'IND', 'WI', 'AFG', 'SL', 'PAK', 'SL', 'IRE', 'ZIM', 'BAN', 'PAK', 'BAN', 'AUS', 'AFG', 'SL', 'PAK', 'SCO', 'NZ', 'AFG', 'AUS', 'WI', 'AFG', 'SL', 'NZ', 'AUS', 'AFG', 'AUS', 'IRE', 'AUS', 'IND', 'AFG', 'SCO', 'UAE', 'NZ', 'ZIM', 'NZ', 'IRE', 'SA', 'SA', 'SA', 'SL', 'SL', 'WI', 'SA', 'PNG', 'IND', 'BAN', 'BAN', 'IND', 'AFG', 'SCO', 'SL', 'WI', 'PNG', 'AFG', 'ENG', 'ENG']

In [43]:
#Rating

r1 = soup.find_all('div' , class_="rankings-block__banner--rating")
r2 = soup.find_all('td' , class_="table-body__cell rating")
r = r1+r2

rating = []
for i in r:
    rating.append(i.text.replace("\n" , " "))
print(rating)

['865', '857', '825', '801', '791', '785', '778', '778', '773', '773', '756', '754', '751', '734', '723', '707', '707', '706', '689', '687', '684', '680', '675', '668', '667', '655', '646', '644', '640', '633', '632', '627', '624', '614', '603', '582', '581', '578', '573', '571', '567', '566', '561', '561', '560', '559', '559', '554', '546', '542', '537', '536', '535', '533', '529', '525', '519', '518', '512', '508', '507', '506', '506', '504', '498', '495', '495', '495', '494', '486', '484', '483', '479', '479', '479', '471', '468', '464', '460', '460', '457', '454', '450', '449', '448', '445', '444', '443', '440', '437', '433', '432', '432', '430', '429', '426', '415', '415', '411', '409']

In [45]:
#Career best Rating
cb1 = soup.find_all('span' , class_="rankings-block__career-best-text")
cb2 = soup.find_all('td' , class_="table-body__cell u-text-right u-hide-phablet")
cb = cb1+cb2

career_best = []
for i in cb:
    career_best.append(i.text.strip())
career_best

['865 v South Africa, 07/04/2021',
 '911 v England, 12/07/2018',
 '885 v Sri Lanka, 06/07/2019',
 '841 v Bangladesh, 05/06/2019',
 '798 v England, 25/06/2019',
 '796 v India, 26/03/2021',
 '778 v South Africa, 07/04/2021',
 '820 v Australia, 06/07/2019',
 '880 v Pakistan, 26/01/2017',
 '808 v Bangladesh, 17/05/2019',
 '813 v Sri Lanka, 10/03/2019',
 '799 v India, 09/07/2019',
 '768 v South Africa, 02/04/2021',
 '739 v Sri Lanka, 25/05/2021',
 '824 v Sri Lanka, 13/10/2018',
 '752 v Pakistan, 22/01/2017',
 '789 v South Africa, 01/03/2017',
 '813 v Pakistan, 23/09/2018',
 '782 v Australia, 11/07/2019',
 '697 v Netherlands, 04/06/2021',
 '735 v India, 20/01/2016',
 '683 v Pakistan, 04/04/2021',
 '735 v New Zealand, 29/06/2019',
 '694 v New Zealand, 14/07/2019',
 '737 v West Indies, 28/07/2018',
 '720 v Afghanistan, 18/06/2019',
 '657 v England, 26/03/2021',
 '644 v India, 02/12/2020',
 '643 v Pakistan, 04/04/2021',
 '709 v India, 15/12/2019',
 '692 v Pakistan, 05/07/2019',
 '741 v Bangladesh, 08/06/2019',
 '631 v Bangladesh, 23/03/2021',
 '634 v Ireland, 12/01/2020',
 '618 v Zimbabwe, 30/10/2020',
 '582 v Sri Lanka, 28/05/2021',
 '596 v Bangladesh, 20/03/2021',
 '578 v United States, 11/02/2020',
 '647 v Ireland, 18/03/2018',
 '667 v New Zealand, 09/02/2012',
 '707 v England, 07/12/2014',
 '566 v Bangladesh, 28/05/2021',
 '561 v England, 28/03/2021',
 '561 v Pakistan, 03/11/2020',
 '629 v Afghanistan, 22/06/2019',
 '567 v Sri Lanka, 12/03/2021',
 '625 v Sri Lanka, 17/09/2018',
 '554 v Bangladesh, 28/05/2021',
 '665 v Bangladesh, 04/03/2014',
 '631 v Zimbabwe, 30/06/2017',
 '570 v Zimbabwe, 01/07/2019',
 '576 v Afghanistan, 22/10/2015',
 '573 v West Indies, 22/01/2021',
 '556 v Bangladesh, 05/07/2019',
 '671 v South Africa, 15/07/2015',
 '616 v India, 08/03/2019',
 '594 v Bangladesh, 28/09/2016',
 '518 v Bangladesh, 28/05/2021',
 '581 v West Indies, 05/10/2016',
 '585 v England, 10/06/2018',
 '520 v Pakistan, 19/01/2018',
 '518 v West Indies, 09/11/2019',
 '532 v India, 29/11/2020',
 '804 v Zimbabwe, 30/11/2003',
 '519 v India, 22/06/2019',
 '514 v West Indies, 26/02/2020',
 '549 v Pakistan, 26/06/2019',
 '581 v South Africa, 18/01/2009',
 '545 v Bangladesh, 28/09/2016',
 '641 v New Zealand, 06/12/2016',
 '602 v Netherlands, 07/07/2013',
 '593 v Pakistan, 27/03/2019',
 '513 v New Zealand, 11/02/2020',
 '483 v West Indies, 11/11/2019',
 '487 v United States, 14/12/2019',
 '478 v Ireland, 08/01/2021',
 '539 v Sri Lanka, 05/01/2019',
 '524 v Afghanistan, 18/10/2015',
 '502 v England, 10/03/2018',
 '539 v UAE, 12/03/2018',
 '499 v Australia, 07/03/2020',
 '459 v New Zealand, 19/06/2019',
 '450 v Pakistan, 07/04/2021',
 '599 v West Indies, 04/11/2015',
 '448 v Bangladesh, 28/05/2021',
 '445 v Sri Lanka, 14/03/2021',
 '444 v Pakistan, 07/04/2021',
 '444 v Namibia, 23/09/2019',
 '552 v West Indies, 08/10/2014',
 '515 v Sri Lanka, 19/01/2018',
 '452 v New Zealand, 23/03/2021',
 '432 v England, 28/03/2021',
 '477 v Ireland, 10/03/2019',
 '430 v Netherlands, 20/05/2021',
 '667 v Australia, 02/03/2012',
 '456 v India, 24/10/2018',
 '416 v Namibia, 23/09/2019',
 '440 v Ireland, 28/02/2018',
 '481 v Australia, 26/01/2018',
 '415 v Australia, 16/09/2020']

In [46]:

men_odi = pd.DataFrame({})
men_odi['Name'] = player_name
men_odi['Team'] = team_name
men_odi['Rating'] = rating
men_odi["Career best"] = career_best
men_odi.head(10)

,Name,Team,Rating,Career best
0,Babar Azam,PAK,865,"865 v South Africa, 07/04/2021"
1,Virat Kohli,IND,857,"911 v England, 12/07/2018"
2,Rohit Sharma,IND,825,"885 v Sri Lanka, 06/07/2019"
3,Ross Taylor,NZ,801,"841 v Bangladesh, 05/06/2019"
4,Aaron Finch,AUS,791,"798 v England, 25/06/2019"
5,Jonny Bairstow,ENG,785,"796 v India, 26/03/2021"
6,Fakhar Zaman,PAK,778,"778 v South Africa, 07/04/2021"
7,Francois du Plessis,SA,778,"820 v Australia, 06/07/2019"
8,David Warner,AUS,773,"880 v Pakistan, 26/01/2017"
9,Shai Hope,WI,773,"808 v Bangladesh, 17/05/2019"

# iii) Top 10 ODI bowlers along with the records of their team and rating.

In [35]:
url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
r = requests.get(url, 'html.parser')
soup = BeautifulSoup(r.content)

In [48]:
#Name

name1 = soup.find_all('div' , class_="rankings-block__banner--name-large")
name2 = soup.find_all('td' , class_="table-body__cell rankings-table__name name")
name = name1+name2

player_name = []
for i in name:
    player_name.append(i.text.replace("\n" , " "))
print(player_name)

['Trent Boult', ' Mehedi Hasan ', ' Mujeeb Ur Rahman ', ' Matt Henry ', ' Jasprit Bumrah ', ' Kagiso Rabada ', ' Chris Woakes ', ' Josh Hazlewood ', ' Pat Cummins ', ' Mustafizur Rahman ', ' Mohammad Amir ', ' Shaheen Afridi ', ' Bhuvneshwar Kumar ', ' Jofra Archer ', ' Rashid Khan ', ' Adam Zampa ', ' Lachlan Ferguson ', ' Shakib Al Hasan ', ' Mitchell Starc ', ' Lungi Ngidi ', ' Mohammad Nabi ', ' Mark Wood ', ' Akila Dananjaya ', ' Yuzvendra Chahal ', ' Mitchell Santner ', ' Mohammad Shami ', ' Alzarri Joseph ', ' Kuldeep Yadav ', ' Ravindra Jadeja ', ' Sheldon Cottrell ', ' Liam Plunkett ', ' Dushmantha Chameera ', ' Andy McBrine ', ' Ahmed Raza ', ' Adil Rashid ', ' Shadab Khan ', ' Dwaine Pretorius ', ' Colin de Grandhomme ', ' Andile Phehlukwayo ', ' Tim Southee ', ' Ish Sodhi ', ' Imad Wasim ', ' Mark Watt ', ' Tendai Chatara ', ' Usman Khan ', ' Jhye Richardson ', ' Moeen Ali ', ' Rohan Mustafa ', ' Mashrafe Mortaza ', ' David Willey ', ' Simi Singh ', ' Wanindu De Silva ', ' Mohammad Mohammad Saifuddin ', ' Hasan Ali ', ' Nuwan Pradeep ', ' Tabraiz Shamsi ', ' Nathan Coulter-Nile ', ' Faheem Ashraf ', ' Safyaan Sharif ', ' Jason Holder ', ' Chris Morris ', ' Nathan Lyon ', ' Jimmy Neesham ', ' Kyle Jarvis ', ' Suranga Lakmal ', ' Wahab Riaz ', ' Junaid Khan ', ' Sikandar Raza ', ' Ben Stokes ', ' Kemar Roach ', ' Dawlat Zadran ', ' Josh Davey ', ' Sean Williams ', ' Anrich Nortje ', ' Kane Richardson ', ' Aftab Alam ', ' Yasir Shah ', ' Shardul Thakur ', ' Jason Behrendorff ', ' Dhananjaya de Silva ', ' Rubel Hossain ', ' Hardik Pandya ', ' Craig Young ', ' Gulbadin Naib ', ' Barry McCarthy ', ' Mitchell Marsh ', ' Alasdair Evans ', ' Tom Curran ', ' Taskin Ahmed ', ' Ashley Nurse ', ' Hamid Hassan ', ' Blessing Muzarabani ', ' Marcus Stoinis ', ' Lakshan Sandakan ', ' Taijul Islam ', ' Ashton Agar ', ' Mohammad Nawaz ', ' Donald Tiripano ', ' George Dockrell ', ' Bradley Wheal ']

In [49]:
#For Team

team1 = soup.find_all('div' , class_="rankings-block__banner--nationality")
team2 = soup.find_all('span' , class_="table-body__logo-text")
team = team1+team2

team_name = []
for i in team:
    team_name.append(i.text.replace("\n" , " "))
print(team_name)

['  NZ                     ', 'BAN', 'AFG', 'NZ', 'IND', 'SA', 'ENG', 'AUS', 'AUS', 'BAN', 'PAK', 'PAK', 'IND', 'ENG', 'AFG', 'AUS', 'NZ', 'BAN', 'AUS', 'SA', 'AFG', 'ENG', 'SL', 'IND', 'NZ', 'IND', 'WI', 'IND', 'IND', 'WI', 'ENG', 'SL', 'IRE', 'UAE', 'ENG', 'PAK', 'SA', 'NZ', 'SA', 'NZ', '', 'PAK', 'SCO', 'ZIM', 'PAK', 'AUS', 'ENG', 'UAE', 'BAN', 'ENG', 'IRE', 'SL', 'BAN', 'PAK', 'SL', 'SA', 'AUS', 'PAK', 'SCO', 'WI', 'SA', 'AUS', 'NZ', 'ZIM', 'SL', 'PAK', 'PAK', 'ZIM', 'ENG', 'WI', 'AFG', 'SCO', 'ZIM', 'SA', 'AUS', 'AFG', 'PAK', 'IND', 'AUS', 'SL', 'BAN', 'IND', 'IRE', 'AFG', 'IRE', 'AUS', 'SCO', 'ENG', 'BAN', 'WI', 'AFG', 'ZIM', 'AUS', 'SL', 'BAN', 'AUS', 'PAK', 'ZIM', 'IRE', 'SCO']

In [50]:
#Rating

r1 = soup.find_all('div' , class_="rankings-block__banner--rating")
r2 = soup.find_all('td' , class_="table-body__cell rating")
r = r1+r2

rating = []
for i in r:
    rating.append(i.text.replace("\n" , " "))
print(rating)

['737', '713', '708', '691', '690', '666', '665', '660', '646', '645', '638', '634', '632', '627', '626', '623', '619', '613', '611', '606', '596', '594', '594', '584', '583', '574', '569', '564', '559', '558', '546', '533', '533', '531', '529', '523', '515', '508', '506', '500', '496', '495', '490', '490', '489', '488', '486', '477', '476', '475', '474', '473', '473', '473', '473', '470', '470', '469', '467', '465', '462', '462', '458', '458', '456', '454', '449', '443', '442', '431', '427', '427', '426', '425', '422', '422', '418', '411', '410', '410', '406', '403', '403', '399', '397', '395', '394', '391', '391', '388', '387', '387', '383', '381', '379', '377', '376', '373', '370', '368']

In [51]:
#Career best Rating
cb1 = soup.find_all('span' , class_="rankings-block__career-best-text")
cb2 = soup.find_all('td' , class_="table-body__cell u-text-right u-hide-phablet")
cb = cb1+cb2

career_best = []
for i in cb:
    career_best.append(i.text.strip())
career_best

['770 v West Indies, 22/06/2019',
 '725 v Sri Lanka, 25/05/2021',
 '712 v Ireland, 24/01/2021',
 '691 v Bangladesh, 26/03/2021',
 '841 v West Indies, 01/11/2018',
 '724 v England, 29/05/2017',
 '676 v New Zealand, 14/07/2019',
 '733 v England, 26/01/2018',
 '729 v Pakistan, 12/06/2019',
 '695 v West Indies, 14/12/2018',
 '663 v Sri Lanka, 02/10/2019',
 '634 v South Africa, 07/04/2021',
 '657 v West Indies, 17/10/2014',
 '642 v Australia, 13/09/2020',
 '806 v Pakistan, 21/09/2018',
 '623 v India, 02/12/2020',
 '668 v West Indies, 22/06/2019',
 '717 v Zimbabwe, 05/11/2009',
 '783 v New Zealand, 29/03/2015',
 '621 v Australia, 04/03/2020',
 '653 v Zimbabwe, 26/02/2017',
 '615 v Sri Lanka, 21/06/2019',
 '651 v England, 23/10/2018',
 '730 v New Zealand, 23/01/2019',
 '663 v England, 25/02/2018',
 '654 v Bangladesh, 19/03/2015',
 '569 v Sri Lanka, 14/03/2021',
 '765 v New Zealand, 26/01/2019',
 '738 v Zimbabwe, 01/08/2013',
 '581 v Sri Lanka, 26/02/2020',
 '646 v West Indies, 29/09/2017',
 '533 v Bangladesh, 28/05/2021',
 '570 v Zimbabwe, 01/07/2019',
 '531 v Ireland, 18/01/2021',
 '687 v Sri Lanka, 20/10/2018',
 '607 v South Africa, 22/01/2019',
 '539 v Australia, 06/07/2019',
 '522 v India, 11/02/2020',
 '613 v Pakistan, 30/01/2019',
 '638 v England, 20/02/2015',
 '',
 '570 v England, 19/05/2019',
 '495 v United States, 14/12/2019',
 '562 v Ireland, 07/03/2015',
 '504 v Sri Lanka, 02/10/2019',
 '548 v Pakistan, 24/03/2019',
 '629 v Australia, 24/06/2018',
 '477 v Ireland, 18/01/2021',
 '653 v Zimbabwe, 23/01/2009',
 '551 v Sri Lanka, 02/07/2016',
 '474 v Netherlands, 07/06/2021',
 '473 v Bangladesh, 28/05/2021',
 '496 v West Indies, 25/01/2021',
 '766 v New Zealand, 06/01/2018',
 '506 v England, 13/10/2018',
 '486 v Australia, 04/03/2020',
 '514 v Bangladesh, 20/06/2019',
 '477 v South Africa, 02/04/2021',
 '542 v England, 10/06/2018',
 '486 v Sri Lanka, 10/03/2021',
 '507 v Sri Lanka, 03/06/2017',
 '510 v South Africa, 06/07/2019',
 '458 v Bangladesh, 26/03/2021',
 '473 v Ireland, 07/07/2019',
 '594 v Bangladesh, 25/01/2018',
 '522 v England, 13/11/2015',
 '655 v Sri Lanka, 27/12/2013',
 '494 v UAE, 16/04/2019',
 '474 v New Zealand, 03/07/2019',
 '650 v Pakistan, 19/07/2013',
 '574 v Zimbabwe, 02/01/2016',
 '436 v UAE, 15/12/2019',
 '474 v Sri Lanka, 30/06/2017',
 '427 v Pakistan, 04/04/2021',
 '448 v India, 17/01/2020',
 '456 v South Africa, 15/06/2019',
 '487 v Zimbabwe, 20/07/2018',
 '411 v England, 28/03/2021',
 '439 v England, 11/07/2019',
 '412 v Bangladesh, 23/05/2021',
 '514 v Pakistan, 01/12/2011',
 '552 v South Africa, 16/02/2018',
 '403 v Netherlands, 07/06/2021',
 '472 v Ireland, 21/05/2019',
 '448 v West Indies, 09/01/2020',
 '511 v New Zealand, 04/12/2016',
 '421 v England, 10/06/2018',
 '404 v Pakistan, 17/05/2019',
 '456 v Sri Lanka, 28/03/2017',
 '568 v India, 27/10/2018',
 '478 v England, 13/03/2015',
 '387 v Pakistan, 03/11/2020',
 '426 v England, 25/06/2019',
 '383 v Bangladesh, 25/05/2021',
 '397 v Zimbabwe, 06/03/2020',
 '377 v India, 02/12/2020',
 '376 v South Africa, 07/04/2021',
 '373 v Pakistan, 03/11/2020',
 '589 v West Indies, 16/02/2015',
 '385 v Sri Lanka, 21/05/2019']

In [52]:
men_odi_bowl = pd.DataFrame({})
men_odi_bowl['Name'] = player_name
men_odi_bowl['Team'] = team_name
men_odi_bowl['Rating'] = rating
men_odi_bowl["Career best"] = career_best
men_odi_bowl.head(10)

,Name,Team,Rating,Career best
0,Trent Boult,NZ,737,"770 v West Indies, 22/06/2019"
1,Mehedi Hasan,BAN,713,"725 v Sri Lanka, 25/05/2021"
2,Mujeeb Ur Rahman,AFG,708,"712 v Ireland, 24/01/2021"
3,Matt Henry,NZ,691,"691 v Bangladesh, 26/03/2021"
4,Jasprit Bumrah,IND,690,"841 v West Indies, 01/11/2018"
5,Kagiso Rabada,SA,666,"724 v England, 29/05/2017"
6,Chris Woakes,ENG,665,"676 v New Zealand, 14/07/2019"
7,Josh Hazlewood,AUS,660,"733 v England, 26/01/2018"
8,Pat Cummins,AUS,646,"729 v Pakistan, 12/06/2019"
9,Mustafizur Rahman,BAN,645,"695 v West Indies, 14/12/2018"

# 6.)

# i.) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [36]:
icc_women = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
r = requests.get(icc_women)
soup = BeautifulSoup(r.content)

In [54]:
rank1 = soup.find_all('td' , class_= 'rankings-block__banner--pos')
rank2 = soup.find_all('td' , class_= 'table-body__cell table-body__cell--position u-text-right')
rank = rank1 + rank2

ranking = []
for i in rank:
    ranking.append(i.text.replace("\n" , ""))
ranking

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [55]:
team1 = soup.find_all('td' , class_= "rankings-block__banner--team-name")

team2 = soup.find_all('td' , class_= "table-body__cell rankings-table__team")

teams = team1 + team2

country = []
for i in teams:
    country.append(i.text.replace("\n"," "))
country

['  Australia AUS ',
 '  South Africa SA ',
 '  England ENG ',
 '  India IND ',
 '  New Zealand NZ ',
 '  West Indies WI ',
 '  Pakistan PAK ',
 '  Bangladesh BAN ',
 '  Sri Lanka SL ',
 '  Ireland IRE ']

In [56]:
matches1 = soup.find_all('td' , class_='rankings-block__banner--matches')
matches2 = soup.find_all('td' , class_='table-body__cell u-center-text')
match = matches1 + matches2
matches = []
for i in match:
    matches.append(i.text.replace("\n","  "))
matches

['18',
 '24',
 '2,828',
 '17',
 '1,993',
 '20',
 '2,226',
 '21',
 '1,947',
 '12',
 '1,025',
 '15',
 '1,101',
 '5',
 '306',
 '11',
 '519',
 '2',
 '25']

In [57]:
del matches[2:16:2]

matches

['18', '24', '17', '20', '21', '12', '15', '5', '11', '519', '2', '25']

In [58]:
del matches[-3]

In [59]:
del matches[-1]

In [60]:
#Points
p1 = soup.find_all('td' , class_="rankings-block__banner--points")
p2 = soup.find_all('td' , class_="table-body__cell u-center-text")
p = p1 + p2
points = []
for i in p:
    points.append(i.text.replace("\n","  "))
points

['2,955',
 '24',
 '2,828',
 '17',
 '1,993',
 '20',
 '2,226',
 '21',
 '1,947',
 '12',
 '1,025',
 '15',
 '1,101',
 '5',
 '306',
 '11',
 '519',
 '2',
 '25']

In [61]:
del points[1:18:2]
points

['2,955',
 '2,828',
 '1,993',
 '2,226',
 '1,947',
 '1,025',
 '1,101',
 '306',
 '519',
 '25']

In [62]:
#Ratings
rating1 = soup.find_all('td' , class_="rankings-block__banner--rating u-text-right")
rating2 = soup.find_all('td' , class_="table-body__cell u-text-right rating")
ratings = rating1 + rating2
rating = []
for i in ratings:
    rating.append(i.text.strip())
rating

['164', '118', '117', '111', '93', '85', '73', '61', '47', '13']

In [63]:
df = pd.DataFrame({})
df['Ranking'] = ranking
df['Country'] = country
df['Matches'] = matches
df['Points'] = points
df['Ratings'] = rating
df

  Ranking             Country Matches Points Ratings
0       1      Australia AUS       18  2,955     164
1       2    South Africa SA       24  2,828     118
2       3        England ENG       17  1,993     117
3       4          India IND       20  2,226     111
4       5     New Zealand NZ       21  1,947      93
5       6     West Indies WI       12  1,025      85
6       7       Pakistan PAK       15  1,101      73
7       8     Bangladesh BAN        5    306      61
8       9       Sri Lanka SL       11    519      47
9      10        Ireland IRE        2     25      13

# ii.) Top 10 women’s ODI players along with the records of their team and rating.

In [37]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
r = requests.get(url, 'html.parser')
soup = BeautifulSoup(r.content)

In [65]:
#Fetching Player_Name

name1 = soup.find_all('div' , class_="rankings-block__banner--name-large")
name2 = soup.find_all('td' , class_="table-body__cell rankings-table__name name")
name = name1+name2
player_name = []
for i in name:
    player_name.append(i.text.replace("\n" , " "))
print(player_name)

['Tammy Beaumont', ' Lizelle Lee ', ' Alyssa Healy ', ' Stafanie Taylor ', ' Meg Lanning ', ' Amy Satterthwaite ', ' Smriti Mandhana ', ' Mithali Raj ', ' Natalie Sciver ', ' Laura Wolvaardt ', ' Ellyse Perry ', ' Chamari Athapaththu ', ' Heather Knight ', ' Rachael Haynes ', ' Harmanpreet Kaur ', ' Mignon du Preez ', ' Beth Mooney ', ' Poonam Raut ', ' Suzie Bates ', ' Sophie Devine ', ' Deepti Sharma ', ' Marizanne Kapp ', ' Nahida Khan ', ' Amy Jones ', ' Javeria Khan ', ' Bismah Maroof ', ' Dane van Niekerk ', ' Hayley Matthews ', ' Nicole Bolton ', ' Fargana Hoque ', ' Ashleigh Gardner ', ' Rumana Ahmed ', ' Chloe-Lesleigh Tryon ', ' Katie Perkins ', ' Aliya Riaz ', ' Danielle Wyatt ', ' Sune Luus ', ' Amelia Kerr ', ' Jess Jonassen ', ' Katherine Brunt ', ' Nida Dar ', ' Trisha Chetty ', ' Katey Martin ', ' Harshitha Madavi ', ' Brooke Halliday ', ' Fran Wilson ', ' Jemimah Rodriques ', ' Shikha Pandey ', ' Maddie Green ', ' Shemaine Campbelle ', ' Dilani Manodara ', ' Nigar Sultana ', ' Umaima Sohail ', ' Priya Punia ', ' Lara Goodall ', ' Lauren Winfield ', ' Jhulan Goswami ', ' Chedean Nation ', ' Rachel Priest ', ' Kyshona Knight ', ' Kycia Knight ', ' Lauren Down ', ' Sidra Ameen ', ' Nilakshi Silva ', ' Nicola Carey ', ' Hayley Jensen ', ' Sheneta Grimmond ', ' Salma Khatun ', ' Taniya Bhatia ', ' Georgia Wareham ', ' Poonam Yadav ', ' Anne Bosch ', ' Andrie Steyn ', ' Avanthika Mendis ', ' Anya Shrubsole ', ' Natasha McLean ', ' Sharmin Supta ', ' Rajeshwari Gayakwad ', ' Leigh Kasperek ', ' Anushka Sanjeewani ', ' Kate Cross ', ' Inoka Ranaweera ', ' Lea Tahuhu ', ' Stacy-Ann King ', ' Megan Schutt ', ' Oshadi Ranasinghe ', ' Nashra Sandhu ', ' Sushma Verma ', ' Chinelle Henry ', ' Shamilia Connell ', ' Sanjida Islam ', ' Jess Kerr ', ' Hannah Rowe ', ' Shabnim Ismail ', ' Afy Fletcher ', ' Sophie Ecclestone ', ' Diana Baig ', ' Sidra Nawaz ', ' Panna Ghosh ', ' Ama Kanchana ']

In [66]:
#For Team

team1 = soup.find_all('div' , class_="rankings-block__banner--nationality")
team2 = soup.find_all('span' , class_="table-body__logo-text")
team = team1+team2
team_name = []
for i in team:
    team_name.append(i.text.replace("\n" , " "))
print(team_name)

['  ENG                     ', 'SA', 'AUS', 'WI', 'AUS', 'NZ', 'IND', 'IND', 'ENG', 'SA', 'AUS', 'SL', 'ENG', 'AUS', 'IND', 'SA', 'AUS', 'IND', 'NZ', 'NZ', 'IND', 'SA', 'PAK', 'ENG', 'PAK', 'PAK', 'SA', 'WI', 'AUS', 'BAN', 'AUS', 'BAN', 'SA', 'NZ', 'PAK', 'ENG', 'SA', 'NZ', 'AUS', 'ENG', 'PAK', 'SA', 'NZ', 'SL', 'NZ', 'ENG', 'IND', 'IND', 'NZ', 'WI', 'SL', 'BAN', 'PAK', 'IND', 'SA', 'ENG', 'IND', 'WI', 'NZ', 'WI', 'WI', 'NZ', 'PAK', 'SL', 'AUS', 'NZ', 'WI', 'BAN', 'IND', 'AUS', 'IND', 'SA', 'SA', 'SL', 'ENG', 'WI', 'BAN', 'IND', 'NZ', 'SL', 'ENG', 'SL', 'NZ', 'WI', 'AUS', 'SL', 'PAK', 'IND', 'WI', 'WI', 'BAN', 'NZ', 'NZ', 'SA', 'WI', 'ENG', 'PAK', 'PAK', 'BAN', 'SL']

In [67]:
#Rating

r1 = soup.find_all('div' , class_="rankings-block__banner--rating")
r2 = soup.find_all('td' , class_="table-body__cell rating")
r = r1+r2
rating = []
for i in r:
    rating.append(i.text.replace("\n" , " "))
print(rating)

['765', '758', '756', '746', '723', '715', '710', '709', '685', '683', '679', '667', '666', '657', '636', '620', '600', '593', '577', '573', '568', '560', '560', '536', '536', '520', '498', '461', '456', '445', '440', '437', '437', '413', '410', '404', '398', '396', '380', '361', '360', '359', '357', '353', '350', '341', '337', '335', '320', '319', '319', '317', '310', '305', '305', '302', '294', '292', '285', '281', '276', '264', '264', '261', '259', '256', '252', '244', '240', '239', '236', '234', '234', '226', '225', '224', '221', '220', '219', '211', '208', '205', '204', '201', '195', '195', '192', '190', '188', '186', '181', '179', '179', '178', '175', '172', '170', '168', '166', '161']

In [68]:
#Career best Rating
cb1 = soup.find_all('span' , class_="rankings-block__career-best-text")
cb2 = soup.find_all('td' , class_="table-body__cell u-text-right u-hide-phablet")
cb = cb1+cb2
career_best = []
for i in cb:
    career_best.append(i.text.strip())
career_best

['765 v New Zealand, 28/02/2021',
 '773 v India, 14/03/2021',
 '756 v New Zealand, 10/04/2021',
 '765 v India, 02/03/2012',
 '834 v New Zealand, 24/02/2016',
 '756 v Australia, 02/03/2017',
 '797 v England, 28/02/2019',
 '839 v Australia, 24/12/2004',
 '712 v India, 25/02/2019',
 '725 v India, 07/03/2021',
 '766 v West Indies, 11/09/2019',
 '691 v South Africa, 14/02/2019',
 '693 v West Indies, 06/06/2019',
 '680 v New Zealand, 07/04/2021',
 '679 v South Africa, 28/11/2014',
 '620 v India, 17/03/2021',
 '613 v Sri Lanka, 05/10/2019',
 '606 v South Africa, 14/03/2021',
 '775 v Australia, 24/02/2016',
 '678 v Australia, 03/03/2019',
 '622 v South Africa, 09/10/2019',
 '569 v Pakistan, 23/01/2021',
 '603 v England, 14/12/2019',
 '564 v West Indies, 13/06/2019',
 '573 v South Africa, 15/03/2015',
 '570 v New Zealand, 13/11/2016',
 '677 v Sri Lanka, 11/02/2019',
 '522 v England, 09/06/2019',
 '687 v India, 15/03/2018',
 '446 v Pakistan, 04/11/2019',
 '452 v New Zealand, 07/04/2021',
 '439 v Pakistan, 04/11/2019',
 '548 v Pakistan, 12/05/2019',
 '503 v South Africa, 25/01/2020',
 '410 v South Africa, 26/01/2021',
 '465 v Pakistan, 09/12/2019',
 '469 v England, 05/07/2017',
 '409 v Australia, 07/04/2021',
 '410 v England, 07/07/2019',
 '403 v India, 22/02/2019',
 '361 v South Africa, 23/01/2021',
 '585 v Ireland, 09/08/2016',
 '483 v Australia, 05/03/2017',
 '356 v Australia, 09/10/2019',
 '350 v Australia, 10/04/2021',
 '355 v India, 09/04/2018',
 '411 v West Indies, 06/11/2019',
 '383 v South Africa, 14/10/2019',
 '327 v Australia, 07/04/2021',
 '403 v New Zealand, 14/09/2014',
 '419 v West Indies, 15/10/2017',
 '336 v Pakistan, 02/11/2019',
 '337 v South Africa, 23/01/2021',
 '305 v South Africa, 17/03/2021',
 '320 v India, 14/03/2021',
 '395 v Australia, 22/10/2017',
 '430 v New Zealand, 28/06/2015',
 '312 v India, 01/11/2019',
 '589 v Sri Lanka, 07/11/2015',
 '313 v Australia, 11/09/2019',
 '404 v Sri Lanka, 18/05/2015',
 '275 v Australia, 04/04/2021',
 '319 v South Africa, 09/05/2019',
 '279 v Australia, 07/10/2019',
 '259 v New Zealand, 10/04/2021',
 '271 v England, 23/02/2021',
 '268 v India, 01/11/2019',
 '366 v South Africa, 22/09/2013',
 '291 v West Indies, 06/11/2019',
 '239 v New Zealand, 10/04/2021',
 '260 v South Africa, 11/10/2019',
 '234 v India, 17/03/2021',
 '378 v Ireland, 19/05/2017',
 '408 v India, 21/01/2014',
 '249 v West Indies, 09/06/2019',
 '243 v New Zealand, 08/10/2013',
 '226 v Pakistan, 02/11/2019',
 '229 v South Africa, 14/03/2021',
 '259 v South Africa, 25/01/2020',
 '222 v Australia, 07/10/2019',
 '223 v Pakistan, 12/12/2019',
 '230 v Australia, 29/06/2017',
 '204 v Australia, 10/04/2021',
 '390 v India, 29/02/2012',
 '209 v Sri Lanka, 23/09/2016',
 '206 v England, 21/03/2019',
 '228 v Bangladesh, 02/11/2019',
 '261 v Australia, 18/03/2018',
 '196 v Australia, 11/09/2019',
 '230 v Pakistan, 09/02/2019',
 '192 v South Africa, 04/05/2018',
 '179 v Australia, 10/04/2021',
 '191 v Australia, 04/04/2021',
 '290 v Ireland, 14/01/2014',
 '182 v India, 06/11/2019',
 '198 v Australia, 02/07/2019',
 '170 v South Africa, 26/01/2021',
 '170 v New Zealand, 13/11/2016',
 '170 v Pakistan, 02/11/2019',
 '183 v Pakistan, 22/03/2018']

In [69]:
women_odi = pd.DataFrame({})
women_odi['Name'] = player_name
women_odi['Team'] = team_name
women_odi['Rating'] = rating
women_odi["Career best"] = career_best
women_odi.head(10)

,Name,Team,Rating,Career best
0,Tammy Beaumont,ENG,765,"765 v New Zealand, 28/02/2021"
1,Lizelle Lee,SA,758,"773 v India, 14/03/2021"
2,Alyssa Healy,AUS,756,"756 v New Zealand, 10/04/2021"
3,Stafanie Taylor,WI,746,"765 v India, 02/03/2012"
4,Meg Lanning,AUS,723,"834 v New Zealand, 24/02/2016"
5,Amy Satterthwaite,NZ,715,"756 v Australia, 02/03/2017"
6,Smriti Mandhana,IND,710,"797 v England, 28/02/2019"
7,Mithali Raj,IND,709,"839 v Australia, 24/12/2004"
8,Natalie Sciver,ENG,685,"712 v India, 25/02/2019"
9,Laura Wolvaardt,SA,683,"725 v India, 07/03/2021"

# iii.) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [38]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
r = requests.get(url, 'html.parser')
soup = BeautifulSoup(r.content)

In [71]:
#Fetching Player_Name

name1 = soup.find_all('div' , class_="rankings-block__banner--name-large")
name2 = soup.find_all('td' , class_="table-body__cell rankings-table__name name")
name = name1+name2
player_name = []
for i in name:
    player_name.append(i.text.replace("\n" , " "))
print(player_name)

['Marizanne Kapp', ' Ellyse Perry ', ' Stafanie Taylor ', ' Natalie Sciver ', ' Deepti Sharma ', ' Jess Jonassen ', ' Ashleigh Gardner ', ' Dane van Niekerk ', ' Sophie Devine ', ' Amelia Kerr ', ' Katherine Brunt ', ' Shikha Pandey ', ' Jhulan Goswami ', ' Heather Knight ', ' Rumana Ahmed ', ' Hayley Matthews ', ' Harmanpreet Kaur ', ' Chamari Athapaththu ', ' Sune Luus ', ' Poonam Yadav ']

In [72]:
#For Team

team1 = soup.find_all('div' , class_="rankings-block__banner--nationality")
team2 = soup.find_all('span' , class_="table-body__logo-text")
team = team1+team2
team_name = []
for i in team:
    team_name.append(i.text.replace("\n" , " "))
print(team_name)

['  SA                     ', 'AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'NZ', 'ENG', 'IND', 'IND', 'ENG', 'BAN', 'WI', 'IND', 'SL', 'SA', 'IND']

In [73]:
#Rating

r1 = soup.find_all('div' , class_="rankings-block__banner--rating")
r2 = soup.find_all('td' , class_="table-body__cell rating")
r = r1+r2
rating = []
for i in r:
    rating.append(i.text.replace("\n" , " "))
print(rating)

['418', '418', '410', '349', '343', '307', '252', '243', '242', '236', '236', '204', '200', '189', '179', '176', '167', '164', '153', '151']

In [74]:
#Career best Rating
cb1 = soup.find_all('span' , class_="rankings-block__career-best-text")
cb2 = soup.find_all('td' , class_="table-body__cell u-text-right u-hide-phablet")
cb = cb1+cb2
career_best = []
for i in cb:
    career_best.append(i.text.strip())
career_best

['418 v India, 17/03/2021',
 '548 v West Indies, 11/09/2019',
 '559 v New Zealand, 10/10/2013',
 '349 v New Zealand, 28/02/2021',
 '397 v South Africa, 09/10/2019',
 '308 v West Indies, 11/09/2019',
 '256 v New Zealand, 04/04/2021',
 '421 v Sri Lanka, 11/02/2019',
 '305 v Australia, 05/10/2020',
 '247 v Australia, 07/04/2021',
 '270 v Sri Lanka, 16/03/2019',
 '262 v South Africa, 14/10/2019',
 '308 v Australia, 02/02/2016',
 '249 v West Indies, 13/06/2019',
 '180 v Pakistan, 04/11/2019',
 '211 v England, 06/06/2019',
 '174 v South Africa, 14/03/2021',
 '187 v South Africa, 17/02/2019',
 '217 v India, 05/02/2018',
 '174 v South Africa, 11/10/2019']

In [75]:
women_odi_ar = pd.DataFrame({})
women_odi_ar['Name'] = player_name
women_odi_ar['Team'] = team_name
women_odi_ar['Rating'] = rating
women_odi_ar["Career best"] = career_best
women_odi_ar.head(10)

,Name,Team,Rating,Career best
0,Marizanne Kapp,SA,418,"418 v India, 17/03/2021"
1,Ellyse Perry,AUS,418,"548 v West Indies, 11/09/2019"
2,Stafanie Taylor,WI,410,"559 v New Zealand, 10/10/2013"
3,Natalie Sciver,ENG,349,"349 v New Zealand, 28/02/2021"
4,Deepti Sharma,IND,343,"397 v South Africa, 09/10/2019"
5,Jess Jonassen,AUS,307,"308 v West Indies, 11/09/2019"
6,Ashleigh Gardner,AUS,252,"256 v New Zealand, 04/04/2021"
7,Dane van Niekerk,SA,243,"421 v Sri Lanka, 11/02/2019"
8,Sophie Devine,NZ,242,"305 v Australia, 05/10/2020"
9,Amelia Kerr,NZ,236,"247 v Australia, 07/04/2021"

# 7.)   Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

# note : THIS QUESTION IS SKIPPED BY OUR 'SME'  (as to scrape amazon.in it use selenium which is not covered yet)

# 8.) Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description

In [40]:
page = "https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YNRvkegzZEY"
response = requests.get(page)
response

In [41]:
soup = BeautifulSoup(response.content)

In [78]:
#Period

p = soup.find_all('div' , class_="col-sm-2 forecast-label")

period = []

for i in p:
    period.append(i.text.replace("\n",""))
period

['This Afternoon',
 'Tonight',
 'Friday',
 'Friday Night',
 'Saturday',
 'Saturday Night',
 'Sunday',
 'Sunday Night',
 'Monday',
 'Monday Night',
 'Tuesday',
 'Tuesday Night',
 'Wednesday']

In [79]:
#Description

d = soup.find_all('div' , class_="col-sm-10 forecast-text")
description = []

for i in d:
    description.append(i.text.strip())
description

['Sunny, with a high near 68. West wind 17 to 21 mph, with gusts as high as 28 mph.',
 'Increasing clouds, with a low around 55. Breezy, with a west wind 14 to 22 mph, with gusts as high as 29 mph.',
 'Mostly cloudy, then gradually becoming sunny, with a high near 68. Breezy, with a west wind 13 to 23 mph, with gusts as high as 30 mph.',
 'Increasing clouds, with a low around 56. Breezy, with a west wind 20 to 25 mph decreasing to 13 to 18 mph after midnight. Winds could gust as high as 32 mph.',
 'Mostly sunny, with a high near 71. Breezy, with a west wind 10 to 15 mph increasing to 18 to 23 mph in the afternoon. Winds could gust as high as 31 mph.',
 'Partly cloudy, with a low around 56. Breezy.',
 'Mostly sunny, with a high near 69.',
 'Mostly cloudy, with a low around 57.',
 'Mostly sunny, with a high near 70.',
 'Partly cloudy, with a low around 57.',
 'Sunny, with a high near 73.',
 'Partly cloudy, with a low around 58.',
 'Mostly sunny, with a high near 72.']

In [80]:
san_francisco = pd.DataFrame({})
san_francisco['Time Period/Day'] = period
san_francisco['Description and Temp.'] = description
san_francisco

   Time Period/Day                              Description and Temp.
0   This Afternoon  Sunny, with a high near 68. West wind 17 to 21...
1          Tonight  Increasing clouds, with a low around 55. Breez...
2           Friday  Mostly cloudy, then gradually becoming sunny, ...
3     Friday Night  Increasing clouds, with a low around 56. Breez...
4         Saturday  Mostly sunny, with a high near 71. Breezy, wit...
5   Saturday Night       Partly cloudy, with a low around 56. Breezy.
6           Sunday                 Mostly sunny, with a high near 69.
7     Sunday Night               Mostly cloudy, with a low around 57.
8           Monday                 Mostly sunny, with a high near 70.
9     Monday Night               Partly cloudy, with a low around 57.
10         Tuesday                        Sunny, with a high near 73.
11   Tuesday Night               Partly cloudy, with a low around 58.
12       Wednesday                 Mostly sunny, with a high near 72.

# 9.) .Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

In [42]:
url = "https://internshala.com/fresher-jobs"
r = requests.get(url)
r

In [43]:
soup = BeautifulSoup(r.content)

In [83]:
#Extracting job title , company name , CTC , apply Date

title = soup.find_all('div' , class_="heading_4_5 profile")
job_title = []

for i in title:
    job_title.append(i.text.replace("\n" , ""))
job_title

['Software Developer ',
 'Management Trainee - Assistant Category Manager ',
 'Account Executive - Field Sales ',
 'Software Engineer ',
 'Associate Software Developer ',
 'Social Media Strategist And Copywriter ',
 'Level 1 Technical Support Engineer ',
 'Associate Software Developer ',
 'Accounting Assistant ',
 'Software Engineer ',
 'Business Development Manager ',
 'Business Development Executive ',
 'Product Developer - Mathematics ',
 'Sales Development Representative ',
 'Full Stack Engineer ',
 'Junior ReactJS Developer ',
 'Marketing Manager ',
 'Product Marketing Associate ',
 'Administration Associate ',
 'Recruiter ',
 'Associate Software Developer ',
 'Project Coordinator ',
 'Web Developer ',
 'Software Engineer Trainee ',
 'Business Development Specialist (Sales & Marketing) ',
 'Business Development Executive ',
 'Associate Front End Developer ',
 'Corporate Sales Executive ',
 'Associate Software Developer (Full-Stack - React And Node) ',
 'Customer Relationship Specialist ',
 'Associate Editor Engagement ',
 'Management Consultant Associate ',
 'Web Analytics Developer ',
 'Junior Social Media Marketing Manager ',
 'Junior Social Media Marketing Associate ',
 'Business Development Manager (Digital Marketing Sales) ',
 'Business Development Executive ',
 'Accountant ',
 'Research Associate ',
 'Assistant Coordinator - Tender Department ']

In [84]:
company_name = soup.find_all('div' , class_="heading_6 company_name")
company_title = []

for i in company_name:
    company_title.append(i.text.strip())
company_title

['Aptigenz Solutions Private Limited',
 'Noise',
 'RoaDo',
 'CrewKarma',
 'IQGateway',
 'Internshala',
 'Mithi Software Technologies Private Limited',
 'White Blink',
 'Wono Inc',
 'Wono Inc',
 'Wono Inc',
 'Emertxe Information Technologies',
 'Open Door Education',
 'Content Beta',
 'Softway Solutions Private Limited',
 'DeepThought Edutech Ventures Private Limited',
 'Saltoro Coffee Roasters',
 'WebMOBI',
 'Global Sun',
 'Radish Consultants Private Limited',
 'Medico Healthcare Services & Technologies',
 'Edupixels',
 'Manufac Analytics Private Limited',
 'Swabhav Techlabs',
 'Claraeon Learning Private Limited',
 'Picostone',
 'AIMonk Labs Technology Limited',
 '369 Zoss Waters',
 'SleekSky LLC',
 'InPhase Power Technologies',
 'Cactus Communications Private Limited',
 'StrategyCo.Global',
 'DataVinci Private Limited',
 'The Test Tribe',
 'Glu Studios',
 'Graygraph Technologies LLC',
 'BookLeaf Publishing',
 'Ravi Ladia & Co',
 'Market Vistas Consumer Insights',
 'Global Source Trading LLC']

In [85]:
ctc_ = soup.find_all('div' , class_="item_body")
ctc = []

for i in ctc_:
    ctc.append(i.text.strip())
ctc

['Starts\xa0Immediately',
 '3 - 3.2 LPA',
 "24 Jul' 21",
 'Starts\xa0Immediately',
 '6 - 10 LPA',
 "24 Jul' 21",
 'Starts\xa0Immediately',
 '3.2 - 4 LPA',
 "24 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "24 Jul' 21",
 'Starts\xa0Immediately',
 '3.6 - 10 LPA',
 "24 Jul' 21",
 'Starts\xa0Immediately',
 '5 - 6.8 LPA',
 "24 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.6 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '5.4 - 6.1 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '5.5 - 6.3 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '5.2 - 5.8 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '7 - 8 LPA',
 "22 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "22 Jul' 21",
 'Starts\xa0Immediately',
 '5.5 - 9 LPA',
 "22 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "22 Jul' 21",
 'Starts\xa0Immediately',
 '3.2 - 3.5 LPA',
 "22 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "22 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.2 LPA',
 "21 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "21 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.2 LPA',
 "21 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "21 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "19 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.5 LPA',
 "19 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 6.5 LPA',
 "19 Jul' 21",
 'Starts\xa0Immediately',
 '6 - 7 LPA',
 "18 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "18 Jul' 21",
 'Starts\xa0Immediately',
 '4 LPA',
 "18 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.5 LPA',
 "18 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "18 Jul' 21",
 'Starts\xa0Immediately',
 '4.5 - 7 LPA',
 "18 Jul' 21",
 'Starts\xa0Immediately',
 '4.99 - 5 LPA',
 "17 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "17 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.6 LPA',
 "17 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4.5 LPA',
 "17 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.6 LPA',
 "17 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "16 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.25 LPA',
 "17 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "16 Jul' 21"]

In [86]:
for ele in ctc:
    if ele == 'Starts\xa0Immediately':
        ctc.remove(ele)
print(ctc)

['3 - 3.2 LPA', "24 Jul' 21", '6 - 10 LPA', "24 Jul' 21", '3.2 - 4 LPA', "24 Jul' 21", '3 - 5 LPA', "24 Jul' 21", '3.6 - 10 LPA', "24 Jul' 21", '5 - 6.8 LPA', "24 Jul' 21", '3 LPA', "23 Jul' 21", '3 - 3.6 LPA', "23 Jul' 21", '5.4 - 6.1 LPA', "23 Jul' 21", '5.5 - 6.3 LPA', "23 Jul' 21", '5.2 - 5.8 LPA', "23 Jul' 21", '3 LPA', "23 Jul' 21", '7 - 8 LPA', "22 Jul' 21", '3 - 4 LPA', "22 Jul' 21", '5.5 - 9 LPA', "22 Jul' 21", '3 - 5 LPA', "22 Jul' 21", '3.2 - 3.5 LPA', "22 Jul' 21", '3 LPA', "22 Jul' 21", '3 - 3.2 LPA', "21 Jul' 21", '3 - 5 LPA', "21 Jul' 21", '3 - 3.2 LPA', "21 Jul' 21", '3 LPA', "21 Jul' 21", '3 - 4 LPA', "19 Jul' 21", '3 - 3.5 LPA', "19 Jul' 21", '3 LPA', "23 Jul' 21", '3 - 6.5 LPA', "19 Jul' 21", '6 - 7 LPA', "18 Jul' 21", '3 - 5 LPA', "18 Jul' 21", '4 LPA', "18 Jul' 21", '3 - 3.5 LPA', "18 Jul' 21", '3 - 4 LPA', "18 Jul' 21", '4.5 - 7 LPA', "18 Jul' 21", '4.99 - 5 LPA', "17 Jul' 21", '3 - 4 LPA', "17 Jul' 21", '3 - 3.6 LPA', "17 Jul' 21", '3 - 4.5 LPA', "17 Jul' 21", '3 - 3.6 LPA', "17 Jul' 21", '3 LPA', "16 Jul' 21", '3 - 3.25 LPA', "17 Jul' 21", '3 LPA', "16 Jul' 21"]

In [87]:
print(len(ctc))

80

In [88]:
del ctc[1:78:2]

In [89]:
del ctc[-1]
ctc

['3 - 3.2 LPA',
 '6 - 10 LPA',
 '3.2 - 4 LPA',
 '3 - 5 LPA',
 '3.6 - 10 LPA',
 '5 - 6.8 LPA',
 '3 LPA',
 '3 - 3.6 LPA',
 '5.4 - 6.1 LPA',
 '5.5 - 6.3 LPA',
 '5.2 - 5.8 LPA',
 '3 LPA',
 '7 - 8 LPA',
 '3 - 4 LPA',
 '5.5 - 9 LPA',
 '3 - 5 LPA',
 '3.2 - 3.5 LPA',
 '3 LPA',
 '3 - 3.2 LPA',
 '3 - 5 LPA',
 '3 - 3.2 LPA',
 '3 LPA',
 '3 - 4 LPA',
 '3 - 3.5 LPA',
 '3 LPA',
 '3 - 6.5 LPA',
 '6 - 7 LPA',
 '3 - 5 LPA',
 '4 LPA',
 '3 - 3.5 LPA',
 '3 - 4 LPA',
 '4.5 - 7 LPA',
 '4.99 - 5 LPA',
 '3 - 4 LPA',
 '3 - 3.6 LPA',
 '3 - 4.5 LPA',
 '3 - 3.6 LPA',
 '3 LPA',
 '3 - 3.25 LPA',
 '3 LPA']

In [90]:
#Similarly for Apply Date

ad = soup.find_all('div' , class_="item_body")
apply_date = []

for i in ad:
    apply_date.append(i.text.strip())
apply_date

['Starts\xa0Immediately',
 '3 - 3.2 LPA',
 "24 Jul' 21",
 'Starts\xa0Immediately',
 '6 - 10 LPA',
 "24 Jul' 21",
 'Starts\xa0Immediately',
 '3.2 - 4 LPA',
 "24 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "24 Jul' 21",
 'Starts\xa0Immediately',
 '3.6 - 10 LPA',
 "24 Jul' 21",
 'Starts\xa0Immediately',
 '5 - 6.8 LPA',
 "24 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.6 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '5.4 - 6.1 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '5.5 - 6.3 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '5.2 - 5.8 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '7 - 8 LPA',
 "22 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "22 Jul' 21",
 'Starts\xa0Immediately',
 '5.5 - 9 LPA',
 "22 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "22 Jul' 21",
 'Starts\xa0Immediately',
 '3.2 - 3.5 LPA',
 "22 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "22 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.2 LPA',
 "21 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "21 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.2 LPA',
 "21 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "21 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "19 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.5 LPA',
 "19 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "23 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 6.5 LPA',
 "19 Jul' 21",
 'Starts\xa0Immediately',
 '6 - 7 LPA',
 "18 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 5 LPA',
 "18 Jul' 21",
 'Starts\xa0Immediately',
 '4 LPA',
 "18 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.5 LPA',
 "18 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "18 Jul' 21",
 'Starts\xa0Immediately',
 '4.5 - 7 LPA',
 "18 Jul' 21",
 'Starts\xa0Immediately',
 '4.99 - 5 LPA',
 "17 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4 LPA',
 "17 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.6 LPA',
 "17 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 4.5 LPA',
 "17 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.6 LPA',
 "17 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "16 Jul' 21",
 'Starts\xa0Immediately',
 '3 - 3.25 LPA',
 "17 Jul' 21",
 'Starts\xa0Immediately',
 '3 LPA',
 "16 Jul' 21"]

In [91]:
for ele in apply_date:
    if ele == 'Starts\xa0Immediately':
        apply_date.remove(ele)

In [92]:
del apply_date[0:80:2]
apply_date

["24 Jul' 21",
 "24 Jul' 21",
 "24 Jul' 21",
 "24 Jul' 21",
 "24 Jul' 21",
 "24 Jul' 21",
 "23 Jul' 21",
 "23 Jul' 21",
 "23 Jul' 21",
 "23 Jul' 21",
 "23 Jul' 21",
 "23 Jul' 21",
 "22 Jul' 21",
 "22 Jul' 21",
 "22 Jul' 21",
 "22 Jul' 21",
 "22 Jul' 21",
 "22 Jul' 21",
 "21 Jul' 21",
 "21 Jul' 21",
 "21 Jul' 21",
 "21 Jul' 21",
 "19 Jul' 21",
 "19 Jul' 21",
 "23 Jul' 21",
 "19 Jul' 21",
 "18 Jul' 21",
 "18 Jul' 21",
 "18 Jul' 21",
 "18 Jul' 21",
 "18 Jul' 21",
 "18 Jul' 21",
 "17 Jul' 21",
 "17 Jul' 21",
 "17 Jul' 21",
 "17 Jul' 21",
 "17 Jul' 21",
 "16 Jul' 21",
 "17 Jul' 21",
 "16 Jul' 21"]

In [93]:
print(len(job_title))
print(len(company_title))
print(len(ctc))
print(len(apply_date))

40
40
40
40

In [94]:
internshala = pd.DataFrame({})
internshala['Job_Title'] = job_title
internshala['Company'] = company_title
internshala['CTC'] = ctc
internshala['Apply Date'] = apply_date
internshala

,Job_Title,Company,CTC,Apply Date
0,Software Developer,Aptigenz Solutions Private Limited,3 - 3.2 LPA,24 Jul' 21
1,Management Trainee - Assistant Category Manager,Noise,6 - 10 LPA,24 Jul' 21
2,Account Executive - Field Sales,RoaDo,3.2 - 4 LPA,24 Jul' 21
3,Software Engineer,CrewKarma,3 - 5 LPA,24 Jul' 21
4,Associate Software Developer,IQGateway,3.6 - 10 LPA,24 Jul' 21
5,Social Media Strategist And Copywriter,Internshala,5 - 6.8 LPA,24 Jul' 21
6,Level 1 Technical Support Engineer,Mithi Software Technologies Private Limited,3 LPA,23 Jul' 21
7,Associate Software Developer,White Blink,3 - 3.6 LPA,23 Jul' 21
8,Accounting Assistant,Wono Inc,5.4 - 6.1 LPA,23 Jul' 21
9,Software Engineer,Wono Inc,5.5 - 6.3 LPA,23 Jul' 21
10,Business Development Manager,Wono Inc,5.2 - 5.8 LPA,23 Jul' 21
11,Business Development Executive,Emertxe Information Technologies,3 LPA,23 Jul' 21
12,Product Developer - Mathematics,Open Door Education,7 - 8 LPA,22 Jul' 21
13,Sales Development Representative,Content Beta,3 - 4 LPA,22 Jul' 21
14,Full Stack Engineer,Softway Solutions Private Limited,5.5 - 9 LPA,22 Jul' 21
15,Junior ReactJS Developer,DeepThought Edutech Ventures Private Limited,3 - 5 LPA,22 Jul' 21
16,Marketing Manager,Saltoro Coffee Roasters,3.2 - 3.5 LPA,22 Jul' 21
17,Product Marketing Associate,WebMOBI,3 LPA,22 Jul' 21
18,Administration Associate,Global Sun,3 - 3.2 LPA,21 Jul' 21
19,Recruiter,Radish Consultants Private Limited,3 - 5 LPA,21 Jul' 21
20,Associate Software Developer,Medico Healthcare Services & Technologies,3 - 3.2 LPA,21 Jul' 21
21,Project Coordinator,Edupixels,3 LPA,21 Jul' 21
22,Web Developer,Manufac Analytics Private Limited,3 - 4 LPA,19 Jul' 21
23,Software Engineer Trainee,Swabhav Techlabs,3 - 3.5 LPA,19 Jul' 21
24,Business Development Specialist (Sales & Marke...,Claraeon Learning Private Limited,3 LPA,23 Jul' 21
25,Business Development Executive,Picostone,3 - 6.5 LPA,19 Jul' 21
26,Associate Front End Developer,AIMonk Labs Technology Limited,6 - 7 LPA,18 Jul' 21
27,Corporate Sales Executive,369 Zoss Waters,3 - 5 LPA,18 Jul' 21
28,Associate Software Developer (Full-Stack - Rea...,SleekSky LLC,4 LPA,18 Jul' 21
29,Customer Relationship Specialist,InPhase Power Technologies,3 - 3.5 LPA,18 Jul' 21
30,Associate Editor Engagement,Cactus Communications Private Limited,3 - 4 LPA,18 Jul' 21
31,Management Consultant Associate,StrategyCo.Global,4.5 - 7 LPA,18 Jul' 21
32,Web Analytics Developer,DataVinci Private Limited,4.99 - 5 LPA,17 Jul' 21
33,Junior Social Media Marketing Manager,The Test Tribe,3 - 4 LPA,17 Jul' 21
34,Junior Social Media Marketing Associate,Glu Studios,3 - 3.6 LPA,17 Jul' 21
35,Business Development Manager (Digital Marketin...,Graygraph Technologies LLC,3 - 4.5 LPA,17 Jul' 21
36,Business Development Executive,BookLeaf Publishing,3 - 3.6 LPA,17 Jul' 21
37,Accountant,Ravi Ladia & Co,3 LPA,16 Jul' 21
38,Research Associate,Market Vistas Consumer Insights,3 - 3.25 LPA,17 Jul' 21
39,Assistant Coordinator - Tender Department,Global Source Trading LLC,3 LPA,16 Jul' 21

# 10.) Write a python program to scrape house details from mentioned url. It should include house title, location, area, emi and price

In [44]:
url = "https://www.nobroker.in/property/sale/bangalore/Electronic%20City?searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&radius=2.0"
response = requests.get(url)
response

In [45]:
soup = BeautifulSoup(response.content)

In [97]:
title = soup.find_all('h2' , class_="heading-6 font-semi-bold nb__1AShY")

house_title = []
for i in title:
    house_title.append(i.text.strip())
house_title

['3 BHK Apartment  For Sale  In Smondoville, Electronic City In Electronic City',
 '2 BHK Apartment  For Sale  In Ds Sigma Nest In Electronic City',
 '2 BHK Apartment  For Sale  In Gm Infinite E-city Town In Electronic City',
 '1 BHK Apartment  For Sale  In Shriram Summitt In Electronic City',
 '3 BHK Apartment  For Sale  In Ds-max Starry In Electronic City',
 '3 BHK Flat  For Sale  In Greenfinch Vallerian In Electronic City',
 '2 BHK Apartment  For Sale  In Purnima Elite In Electronic City',
 '2 BHK Apartment  For Sale  In Sriven Luminous Amaltas In Electronic City',
 '2 BHK Apartment  For Sale  In Icon Happy Living In Electronic City',
 '3 BHK Apartment  For Sale  In Mahendra Aarna In Ananth Nagar Phase 2']

In [98]:
#Similarly doing for area , emi & price

area_ = soup.find_all('div' , class_="nb__3oNyC")
area = []

for i in area_:
    area.append(i.text.strip())
area

['1,350 sqft',
 '1,240 sqft',
 '1,070 sqft',
 '770 sqft',
 '1,088 sqft',
 '1,527 sqft',
 '995 sqft',
 '940 sqft',
 '765 sqft',
 '1,380 sqft']

In [99]:
emi_ = soup.find_all('div' , class_="font-semi-bold heading-6" , id="roomType")
emi=[]

for i in emi_:
    emi.append(i.text.strip())
emi

['₹29,803/Month',
 '₹31,522/Month',
 '₹33,242/Month',
 '₹25,791/Month',
 '₹22,925/Month',
 '₹63,045/Month',
 '₹23,498/Month',
 '₹24,072/Month',
 '₹24,645/Month',
 '₹47,571/Month']

In [100]:
price_ = soup.find_all('div' , class_="nb__2NPHR" , itemprop="valueReference" , id="minDeposit")
price =[]

for i in price_:
    price.append(i.text.strip())
price

['₹52 Lacs₹3,852 per sq.ft.',
 '₹55 Lacs₹4,435 per sq.ft.',
 '₹58 Lacs₹5,421 per sq.ft.',
 '₹45 Lacs₹5,844 per sq.ft.',
 '₹40 Lacs₹3,676 per sq.ft.',
 '₹1.1 Crores₹7,204 per sq.ft.',
 '₹41 Lacs₹4,121 per sq.ft.',
 '₹42 Lacs₹4,468 per sq.ft.',
 '₹43 Lacs₹5,621 per sq.ft.',
 '₹83 Lacs₹6,014 per sq.ft.']

In [101]:
house_details = pd.DataFrame({})
house_details['Title'] = house_title
house_details['Area'] = area
house_details['Emi'] = emi
house_details['Price'] = price
house_details

,Title,Area,Emi,Price
0,"3 BHK Apartment For Sale In Smondoville, Ele...","1,350 sqft","₹29,803/Month","₹52 Lacs₹3,852 per sq.ft."
1,2 BHK Apartment For Sale In Ds Sigma Nest In...,"1,240 sqft","₹31,522/Month","₹55 Lacs₹4,435 per sq.ft."
2,2 BHK Apartment For Sale In Gm Infinite E-ci...,"1,070 sqft","₹33,242/Month","₹58 Lacs₹5,421 per sq.ft."
3,1 BHK Apartment For Sale In Shriram Summitt ...,770 sqft,"₹25,791/Month","₹45 Lacs₹5,844 per sq.ft."
4,3 BHK Apartment For Sale In Ds-max Starry In...,"1,088 sqft","₹22,925/Month","₹40 Lacs₹3,676 per sq.ft."
5,3 BHK Flat For Sale In Greenfinch Vallerian ...,"1,527 sqft","₹63,045/Month","₹1.1 Crores₹7,204 per sq.ft."
6,2 BHK Apartment For Sale In Purnima Elite In...,995 sqft,"₹23,498/Month","₹41 Lacs₹4,121 per sq.ft."
7,2 BHK Apartment For Sale In Sriven Luminous ...,940 sqft,"₹24,072/Month","₹42 Lacs₹4,468 per sq.ft."
8,2 BHK Apartment For Sale In Icon Happy Livin...,765 sqft,"₹24,645/Month","₹43 Lacs₹5,621 per sq.ft."
9,3 BHK Apartment For Sale In Mahendra Aarna I...,"1,380 sqft","₹47,571/Month","₹83 Lacs₹6,014 per sq.ft."

# .......**********........